.wrapper{
	overflow: hidden;
	min-height: 100%;
	background-color: $bg-greycolor;
}

.container{
	max-width: 1240px;
	padding: 0px 15px;
	margin: 0px auto;
    box-sizing: content-box;
}

.root{
	padding: 68px 0 0 0;
	@media(max-width: 1023px){
		padding: 57px 0 0 0;
	}
}

.root-book{
	padding: 48px 0 0 0;
}

.body-lock{
	position: relative;
	overflow: hidden;
}

@media(max-width: 1024px){
	a{
		cursor: default;
	}
}