.wrapper{
	overflow: hidden;
	min-height: 100%;
	background-color: $bg-greycolor;
}

.container{
	max-width: 1240px;
	padding: 0px 15px;
	margin: 0px auto;
    box-sizing: content-box;
}

.root{
	padding: 84px 0 0 0;
	@media(max-width: 1023px){
		padding: 70px 0 0 0;
	}
}

.root-book{
	padding: 48px 0 0 0;
}

.body-lock{
	position: relative;
	overflow: hidden;
}

.editor .page__content {
    padding-right: 0;
    max-width: 100%;
    margin-bottom: 150px;
}

.footer__bottom-content .bottom-content__left-side a{
    color: #edf0f2;
}

.thanks-button a {
    padding: 20px 40px;
}

@media(max-width: 1024px){
	a{
		cursor: default;
	}
}