.wrapper{
	overflow: hidden;
	min-height: 100%;
}

.container{
	max-width: 1160px;
	padding: 0px 15px;
	margin: 0px auto;
    box-sizing: content-box;
}

.root{
	padding: 84px 0 0 0;
	@media(max-width: 1023px){
		padding: 70px 0 0 0;
	}
}

.page{
    position: relative;
    z-index: 2;
}

.body-lock{
	position: relative;
	overflow-y: hidden;
}

.button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 178px;
	width: 100%;
	height: 48px;
	font-weight: 800;
	font-size: 16px;
	border-radius: 32px;
	&.button-light{
		color: $whitecolor;
		border: 2px solid $whitecolor;
	}
	svg{
		position: absolute;
		top: 17px;
		right: 29px;
		width: 18px;
		height: 12px;
		fill: $whitecolor;
	}
	span{
		padding: 0 29px 0 0;
	}
}

// .ibg{
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: right;
// 	img{display: none;}
// }

// .main-screen {
// 	flex: 1 0 100%;
// 		&__bg {
// 			position: absolute;
// 			width: 100%;
// 			height: 100%;
// 			top: 0;
// 			left: 0;
//             @media(max-width: 1023px){
//                 position: fixed;
//             }
// 		}
// }