.button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 178px;
	width: 100%;
	height: 48px;
	font-weight: 800;
	font-size: 16px;
	border-radius: 32px;
	&.button-light{
		color: $whitecolor;
		border: 2px solid $whitecolor;
	}
	&.button-dark{
		color: $whitecolor;
		background-color: $textcolor;
        transition: 300ms;
        @media(min-width: 1024px){
            &:hover{
                background: $darkgreycolor;
            }
        }
	}
	&.arrow-svg{
		svg{
			position: absolute;
			top: 17px;
			right: 29px;
			width: 18px;
			height: 12px;
			fill: $whitecolor;
            transition: 300ms;
		}
		span{
			padding: 0 29px 0 0;
		}
        @media(min-width: 1024px){
            &:hover{
                svg{
                    right: 19px;
                }
            }
        }
	}
}

.mobile-menu-btns{
    position: fixed;
    display: none;
    justify-content: center;
    padding: 12px 0;
    z-index: 1001;
    bottom: -100%;
    left: 50%;
    width: 100%;
	border-top: 1px solid $greycolor;
    transform: translateX(-50%);
    background-color: $whitecolor;
	transition: .25s ease-in-out;
	@media(max-width:1024px){
		display: flex;
	}
    &__btn{
        width: 100%;
        max-width:159px ;
        height: 48px;
        border-radius: 32px;
        font-size: 16px;
        font-weight: 800;
		margin: 0 8px;
        &.sign{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $greycolor;
            color: $textcolor;
        }
        &.book{
            background-color: $textcolor;
            color: $whitecolor;
        }
    }
	&.active{
		bottom: 0;
	}
}

.quickbooks {
    position: relative;
    padding: 0 0 120px 0;
    &__bg{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        max-height: 597px;
        margin: 40px 0 0 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media(max-width: 1439px){
            margin: 0;
        }
    }

    &__bread-crumbs {
        position: relative;
        z-index: 2;
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        li{
            padding: 0 10px 0 0;
            margin: 0 10px 0 0;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 4px;
                right: 0;
                transform: rotate(15deg);
                width: 2px;
                height: 13px;
                background-color: $bluecolor;
            }
            a{
                line-height: 20px;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: $bluecolor;
            }
            &:last-child{
                margin: 0;
                padding: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
    
    .content {
        position: relative;
        z-index: 2;
        margin: 70px 0 0 0;
                &__top-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
        
                &__img {
                    height: 80px;
                    margin: 0 0 38px 0;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
        
                &__description {
                    h1{
                        margin: 0 0 29px 0;
                    }
                    p{
                        max-width: 700px;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 33px;
                    }
                }
        
                &__bottom-text {
                    padding: 52px 15px 64px;
                    width: 100%;
                    max-width: 1120px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 80px auto 0 auto;
                    background-color: $whitecolor;
                    border-radius: 32px;
                    box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
                    backdrop-filter: blur(52px);
                    h3{
                        padding: 37px 0 0 0;
                        position: relative;
                        text-align: center;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 58px;
                            height: 6px;
                            border-radius: 8px;
                            background-color: $purplecolor;
                        }
                    }
                    p{
                        line-height: 32px;
                        font-size: 20px;
                        margin: 28px 0 0 0;
                        max-width: 680px;
                        text-align: center;
                    }
                }
        }
    @media(max-width: 735px){
        padding: 0 0 80px 0;
        &__bg{
            display: none;
        }
        .content{
            margin: 41px 0 0 0;
            &__bottom-text{
                margin: 51px auto 0 auto;
                h3{
                    padding: 22px 0 0 0;
                    &:before{
                        left: 0;
                        transform: inherit;
                    }
                }
            }
        }
    }
    @media(max-width: 424px){
        &__bread-crumbs{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
        .content{
            &__img{
                height: 63px;
                margin: 0 0 19px 0;
            }
            &__description{
                h1{
                    font-size: 40px;
                    margin: 0 0 21px 0;
                }
                p{
                    font-size: 20px;
                    line-height: 28px;
                    max-width: 325px;
                }
            }
            &__bottom-text{
                align-items: flex-start;
                padding: 52px 36px;
                h3{
                    font-size: 25px;
                }
                p{
                    text-align: left;
                    font-size: 18px;
                    margin: 21px 0 0 0;
                    line-height: 29px;
                }
            }
        }
    }
}

.best {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    // &:before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     height: 100%;
    //     width: 100vh;
    //     background-color: $bg-greycolor;
    // }
    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 152px 0;
        h2{
            text-align: center;
            font-size: 70px;
            font-weight: 900;
            margin: 0 0 30px 0;
        }
        p{
            font-size: 22px;
            line-height: 33px;
            font-weight: 600;
        }
    }

    &__box-2 {
        position: absolute;
        top: 36px;
        left: -55px;
        height: 538px;
        width: 492px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__box-1 {
        position: absolute;
        top: 80px;
        right: -107px;
        height: 479px;
        width: 542px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__button{
        margin: 64px 0 0 0;
        max-width: 248px;
        height: 62px;
    }
    @media(max-width: 1023px){
        &__content{
            padding: 219px 0 153px 0;
            h2{
                margin: 0 0 10px 0;
            }
            p{
                text-align: center;
            }
        }
        &__button{
            margin: 45px 0 0 0;
        }
        &__box-1{
            width: 238px;
            height: 249px;
            top: 456px;
            right: -52px;
        }
        &__box-2{
            top: -29px;
            left: -25px;
            width: 217px;
            height: 262px;
        }
        &__button{
            max-width: 224px;
        }
    }
    @media(max-width: 424px){
        &__content{
            h2{
                font-size: 46px;
            }
            p{
                font-size: 20px;
            }
        }
    }
}

.solution {
    background: $greengradient;
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 100px 0 75px 0;
    }

    &__bg{
        position: absolute;
        top: 123px;
        left: 230px;
        width: 562px;
        height: 489px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__left-side {
        position: relative;
        z-index: 2;
        width: 500px;
        margin: 0 0 0 40px;
    }

    &__description {
        margin: 0 0 54px 0;
        h2{
            color: $whitecolor;
            margin: 48px 0 16px 0;
        }
        p{
            color: $whitecolor;
            font-size: 22px;
            line-height: 33px;
        }
    }

    &__button {
        height: 62px;
        max-width: 248px;
        font-size: 18px;
    }

    &__right-side {
        position: relative;
        z-index: 2;
    }

    &__img {
        width: 611px;
        height: 436px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media(max-width: 1439px){
                &__left-side{
                    margin: 0;
                    min-width: 500px;
                }
                &__img{
                    width: 100%;
                }
    }
    @media(max-width: 1023px){
        &__content{
            flex-direction: column;
            align-items: center;
            justify-content: inherit;
        }
        &__bg{
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__left-side{
            width: 100%;
            max-width: 500px;
            min-width: inherit;
        }
    }
    @media(max-width: 735px){
        &__content{
            padding: 76px 0 70px 0;
        }
    }
    @media(max-width: 424px){
        &__description{
            margin: 0 0 40px 0;
            h2{
                font-size: 36px;
                line-height: 42px;
                margin: 0 0 16px 0;
                text-align: center;
            }
            p{
                text-align: center;
                line-height: 28px;
            }
        }
        &__button{
            margin: 0 auto;
            max-width: 223px;
        }
        &__img{
            height: 260px;
            margin: 70px 0 0 0;
        }
    }
    @media(max-width: 374px){
        &__img{
            display: none;
        }
    }
}

.join {
    position: relative;
    background: $greengradient;
    &__content {
        position: relative;
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        padding: 180px 0;
        h2{
            font-size: 64px;
            font-weight: 900;
            line-height: 64px;
            color: $whitecolor;
        }
        p{
            color: $whitecolor;
            margin: 24px 0 0 0;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
        }
    }

    &__container{
        position: relative;
        max-width: 1440px;
        padding: 0 20px;
        box-sizing: content-box;
        margin: 0 auto;
    }

    &__form-wrapper {
        height: 80px;
        max-width: 485px;
        width: 100%;
        margin: 52px 0 0 0;
        background-color: $whitecolor;
        border-radius: 16px;
        padding: 16px 24px;
        form{
            position: relative;
            width: 100%;
            height: 100%;
            input{
                width: 100%;
                height: 100%;
                border: 1px solid $greycolor;
                border-radius: 16px;
                padding: 14px 141px 14px 12px;
                font-size: 16px;
                font-weight: 400;
                background: $bg-greycolor;
                color: $textcolor;
                &::placeholder {
                    color:$darkgreycolor;
                    opacity: 0.5;
                }
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 32px;
                font-size: 16px;
                font-weight: 800;
                width: 141px;
                line-height: 48px;
                background: $textcolor;
                color: $whitecolor;
            }
        }
    }

    &__bg {
        position: absolute;
        z-index: 1;
        width: 1480px;
        height: 523px;
        top: 95px;
        left: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media(max-width: 1439px){
        &__bg{
            top: 0;
            left: -211px;
        }
    }
    @media(max-width: 767px){
        &__content{
            padding: 100px 0 118px 0;
            align-items: center;
            max-width: 330px;
            margin: 0 auto;
            h2{
                font-size: 42px;
                line-height: 49px;
                text-align: center;
            }
            p{
                font-size: 20px;
                text-align: center;
                margin: 12px 0 0 0;
                line-height: 28px;
            }
        }
        &__form-wrapper{
            margin: 32px 0 0 0;
            height: 100%;
            padding: 16px;
            form{
                button{
                    margin: 16px 0 0 0;
                    position: static;
                    width: 100%;
                }
                input{
                    padding: 14px 12px;
                }
            }
        }
    }
}

.person {
    display: flex;
    align-items: center;
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        margin: 0 0 0 16px;
        p{
            font-size: 16px;
            line-height: 20px;
            color: $darkgreycolor;
            display: flex;
            margin: 8px 0 0 0;
            span{
                &:last-child{
                    margin: 0 0 0 15px;
                }
            }
        }
    }
    @media(max-width: 567px){
        width: 100%;
        padding: 0 0 24px 0;
        border-bottom: 1px solid $greycolor;
        &__img{
            width: 50px;
            height: 50px;
        }
        &__info{
            margin: 0 0 0 12px;
            p{
                margin: 0;
                font-size: 14px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
}