.footer {
    background-color: $textcolor;
    color: $whitecolor;
    position: relative;
    z-index: 997;
    &__container {
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    &__top-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 100px 0 77px 0;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $greycolor;
            opacity: 0.1;
        }
    }

    &__bottom-content {
        display: flex;
        justify-content: space-between;
    }

    .awards{
        display: flex;
        max-height: 80px;
        margin: 65px 0 0 0;
        li{
            margin: 0 40px 0 0;
            &:last-child{
                margin: 0;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &.mobile{
            display: none;
        }
    }
}

.nav-column{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        max-width: 754px;
        margin: 3px -10px 0 -10px;
        h3{
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin: 0 0 20px 0;
        }
        a{
            color: $greycolor;
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
            opacity: 0.8;
            transition: 300ms;
            &:hover{
                opacity: 0.5;
            }
        }
        li{
            margin: 0 0 16px 0;
            &:last-child{
                margin: 0;
            }
        }
        ul{
            margin: 0 0 32px 0;
        }
    &__block{
        margin: 0 10px;
        max-width: 205px;
    }
}

.logo-column {
    max-width: 380px;
    margin: 0 50px 0 0;
    &__logo {
        display: block;
        width: 142px;
        height: 30px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__description {
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        margin: 21px 0 30px 0;
    }
}

.bottom-content {
    padding: 40px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    &__left-side {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
    }

    &__middle-side {
        opacity: 0.5;
        padding: 0 185px 0 0;
    }

    &__right-side {
        display: flex;
        justify-content: space-between;
        max-width: 118px;
        width: 100%;
    }

    &__social{
        fill: $whitecolor;
        &.facebook{
            height: 18px;
            width: 9px;
            opacity: 1;
            transition: 300ms;
            &:hover{
                opacity: 0.5;
            }
        }
        &.linkedin{
            width: 18px;
            height: 18px;
            opacity: 1;
            transition: 300ms;
            &:hover{
                opacity: 0.5;
            }
        }
        &.twitter{
            width: 20px;
            height: 18px;
            opacity: 1;
            transition: 300ms;
            &:hover{
                opacity: 0.5;
            }
        }
    }
}

@media(max-width: 1023px){
    .footer{
        &__container{
            padding: 0 20px;
        }
        .bottom-content{
            &__middle-side{
                padding: 0;
            }
        }
        .nav-column{
            &__block{
                width: calc((100% - 4 * 10px) / 2);
            }
        }
    }
}

@media(max-width: 767px){
    .footer{
        .awards{
            display: none;
            &.mobile{
                position: relative;
                display: flex;
                padding: 32px 0;
                box-sizing: content-box;
                margin: 0;
                justify-content: center;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $greycolor;
                    opacity: .1;
                }
            }
        }
        &__top-content{
            padding: 66px 0 0 0;
            justify-content: inherit;
            flex-direction: column;
        }
        .logo-column{
            margin: 0 0 58px 0;
            &__description{
                margin: 17px 0 30px 0;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .bottom-content{
            flex-wrap: wrap;
            margin: 0 -15px;
            &__left-side{
                order: 2;
                margin: 0 15px;
            }
            &__middle-side{
                order: 3;
                margin: 0 15px;
            }
            &__right-side{
                order: 1;
                margin: 0 15px;
            }
        }
        .nav-column{
            margin: 0 0 32px 0;
        }
    }
}

@media(max-width: 735px){
    .footer{
        .bottom-content{
            padding: 24px 0 40px 0;
            margin: 0;
            flex-direction: column;
            &__left-side{
                margin: 24px 0 12px 0;
            }
            &__middle-side{
                margin: 0;
            }
            &__right-side{
                margin: 0;
            }
            &__social{
                &.facebook{
                    width: 24px;
                    height: 24px;
                }
                &.linkedin{
                    width: 24px;
                    height: 24px;
                }
                &.twitter{
                    width: 27px;
                    height: 24px;
                }
            }
        }
    }
}
