.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: $whitecolor;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(52px);
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1360px;
        align-items: flex-end;
        margin: 18px auto 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }

    &__logo {
        margin: 0 0 23px 0;
        img{
            width: 181px;
            height: 34px;
            object-fit: contain;
        }
    }

    &__navigation {
        width: 100%;
        max-width: 666px;
        padding: 0 0 0 75px;
        box-sizing: content-box;
    }

    &__navigation>ul{
        display: flex;
        justify-content: space-between;
    }

    &__navigation>ul>li{
        position: relative;
        padding: 0 16px 32px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
        color: $darkgreycolor;
        svg{
            content: '';
            position: absolute;
            top: 5px;
            right: 0;
            width: 10px;
            height: 6px;
            fill: $darkgreycolor;
            transition: 300ms;
            border-radius: 32px;
        }
        &.no-arrow{
            padding: 0 0 32px 0;
            svg{
                display: none;
            }
        &:hover{
            &:before{
                display: none;
            }
        }
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            border-radius: 32px;
            background: $purplecolor;
            transition: 300ms;
        }
        a{
            color: $textcolor;
            opacity: 0.9;
            transition: 300ms;
        }
        @media(min-width: 1025px){
            &:hover{
                &:before{
                    width: 100%;
                }
                a{
                    color: $purplecolor;
                }
                svg{
                    fill: $purplecolor;
                    transform: rotateX(180deg);
                }
                .submenu{
                    display: block;
                }
            }
        }
    }

    &__connect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 255px;
        width: 100%;
        margin: 0 0 16px 0;

    }
    
    &__strong-text{
        font-size: 16px;
        font-weight: 800;
        color: $textcolor;
        &.button-header {
            color: $textcolor;
            max-width: 169px;
            width: 100%;
            height: 48px;
            border-radius: 32px;
            border: 2px solid $textcolor;
            background: $whitecolor;
            transition: 300ms;
            @media(min-width: 1440px){
                &:hover{
                    background: $textcolor;
                    color: $whitecolor;
                }
            }
        }
    }

    &__burger{
        display: none;
        position: relative;
        height: 18px;
        width: 24px;
        cursor: pointer;
        span{
            position: absolute;
            width: 24px;
            height: 3px;
            border-radius: 5px;
            background-color: $textcolor;
            opacity: 1;
            right: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1){
                top:0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
            }
            &:nth-child(3){
                top: 15px;
            }
        }
        &.active{
            span{
                    &:nth-child(1){
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        transform: rotate(135deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: rotate(-135deg);
                        -moz-transform: rotate(-135deg);
                        -o-transform: rotate(-135deg);
                        transform: rotate(-135deg);
                    }
                }
        }
    }

    .submenu {
        display: none;
        position: fixed;
        z-index: 996;
        top: 82px;
        left: 0;
        width: 100%;
        background: $whitecolor;
        white-space: normal;
        transition: 300ms;
        border-top: 1px solid $greycolor;
        border-bottom: 1px solid $greycolor;
        padding: 28px 15px;
        box-sizing: content-box;
            &__content{
                display: flex;
                max-width: 1360px;
                margin: 0 auto;
            }

            &__title-side {
                width: 100%;
                max-width: 256px;
                padding: 0 38px 0 0;
                box-sizing: content-box;
                h3{
                    margin: 16px 0 0 0;
                }
                p{
                    margin: 17px 0 0 0;
                    max-width: 260px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: $darkgreycolor;
                }
            }

            &__main-menu{
                display: none;
            }

            &__content-side {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                max-width: 100%;
                li{
                    padding: 20px;
                    box-sizing: border-box;
                    border-radius: 16px;
                    width: 347px;
                    display: flex;
                    flex-direction: column;
                    white-space: normal;
                    transition: 300ms;
                    border: 1px solid $whitecolor;
                    cursor: pointer;
                    margin: 0;
                    span{
                        width: 32px;
                        height: 32px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    h3{
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 120%;
                        color: $darkgreycolor;
                        margin: 16px 0 0 0;
                    }
                    p{
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;
                        opacity: .8;
                        color: $darkgreycolor;
                        margin: 6px 0 0 0;
                    }
                    &:before{
                        display: none;
                    }
                    @media(min-width:1025px){
                        &:hover{
                            &:before{
                                display: none;
                            }
                            background: linear-gradient(0deg, rgba(242, 245, 250, 0.4), rgba(242, 245, 250, 0.4));
                            border: 1px solid  $greycolor;
                        }
                    }
                }
            }

            .items{
                height: 100%;
                min-width: 236px;
                background: $whitecolor;
                transition: 300ms ease-in-out;
                border-radius: 16px;
                padding: 20px 30px;
                h3{
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 17px;
                    color: $greencolor;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    margin: 16px -20px -8px -20px;
                    max-height: 130px;
                    li{
                        margin: 8px 20px;
                        font-size: 16px;
                        line-height: 21px;
                        font-weight: 400;
                        a{
                            color: $textcolor;
                        }
                        @media(min-width: 1025px){
                            &:hover{
                                a{
                                    color: $purplecolor;
                                }
                            }
                        }
                    }
                }
            }
    }

}

@media(max-width: 1439px){
    .header{
        &__navigation{
            padding: 0 20px;
            ul{
                li{
                    margin: 0 10px 0 0;
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        &__connect{
            a{
                white-space: nowrap;
                margin: 0 10px 0 0;
            }
        }
    }
}
@media(max-width: 1024px){
    .header{
        &:after{
            content: '';
            height: 100%;
            background: $whitecolor;
            position: absolute;
            inset: 0;
            z-index: 999;
        }
        &__logo{
            position: relative;
            z-index: 1000;
            margin: 0;
        }
        &__content{
            margin: 0;
            min-height: 70px;
            padding: 0 20px;
            align-items: center;
        }
        &__burger{
            display: block;
        }
        &__connect{
            position: relative;
            z-index: 1000;
            max-width: 102px;
            margin: 0;
            &.desktop{
                .header{
                    &__strong-text{
                        &.button-header{
                            display: none;
                        }
                    }
                }
            }
        }
        &__strong-text{
            color: $darkgreycolor;
        }
        &__navigation{
            position: absolute;
            top: -100vh;
            left: 0;
            z-index: 1001;
            max-width: 100%;
            padding: 20px 20px 0 20px;
            transition: .25s ease-in-out;
            background: $whitecolor;
            height: 100%;
            min-height: calc(100vh - 70px);
            max-height: 100%;
            overflow: auto;
            border-top: 1px solid $greycolor;
        }
        &__navigation>ul{
            flex-direction: column;
            padding: 0 0 150px 0;
        }
        &__navigation>ul>li{
            margin: 0;
            font-size: 18px;
            line-height: 30px;
            padding: 0 16px 16px 0;
            &:last-child{
                margin: 0;
            }
            svg{
                top: 11px;
                right: 44px;
                transform: rotate(-90deg);
                width: 12px;
                height: 7px;
                pointer-events: none;
            }
            a{
                display: block;
                width: 100%;
            }
            &.no-arrow{
                padding: 0 16px 16px 0;
            }
        }
        .submenu{
            display: block;
            top: 0;
            left: 100%;
            height: 100vh;
            min-height: 100vh;
            padding: 0 20px;
            &__content{
                flex-direction: column;
                align-items: flex-start;
            }
            &__title-side{
                p{
                    display: none;
                }
                h3{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: $darkgreycolor;
                    text-transform: uppercase;
                    margin: 24px 0 0 0;
                    letter-spacing: 0.1em;
                }
            }
            &__content-side{
                margin: 22px 0 0 0;
                flex-direction: column;
                li{
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 11px 0;
                    h3{
                        margin: 0 0 0 12px;
                    }
                    p{
                        display: none;
                    }
                }
            }
            &__main-menu{
                position: relative;
                display: block;
                padding: 0 0 0 28px;
                margin: 26px 0 25px 0;
                p{
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 120%;
                    color: $textcolor;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 18px;
                    height: 12px;
                    background-image: url(../img/button-arrow.svg);
                    background-size: 18px 12px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &.active{
                left: 0;
            }
            .items{
                padding: 0;
                margin: 18px 0 0 0;
                h3{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 0.1em;
                }
                ul{
                    max-height: 100%;
                    margin: 11px 0 0 0;
                    li{
                        width: 100%;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 130%;
                        color: $textcolor;
                        margin: 10px 0;
                    }
                }
            }
        }
        &.active{
            .header{
                &__navigation{
                    top: 70px;
                }
                &__connect{
                    justify-content: flex-end;
                    a{
                        display: none;
                    }
                }
            }
        }
    }
}
@media(max-width: 424px){
    .header{
        &__logo{
                img{
                    width: 140px;
                    height: 26px;
                }
        }
    }
}


