$fontfamily:"Mulish";
$textcolor:#232F42;
$whitecolor: #fff;
$greycolor: #EDF0F2;
$bg-greycolor: #F8F9FC;
$darkgreycolor: #606A80;
$bluecolor: #89B8FA;
$purplecolor: #707EFF;
$greengradient: linear-gradient(122.12deg, #9BDEDC 0%, #7ACCAE 90.36%);
$blue-greengradient: linear-gradient(117.21deg, #84DBDB 16.4%, #6E7AFF 129.13%), linear-gradient(125.6deg, #E3BAC8 0%, #B88FD9 181.6%);
$purplegradient: linear-gradient(132.62deg, #9CA2E6 0%, #7E5CE6 100%), linear-gradient(122.12deg, #9BDEDC 0%, #7ACCAE 90.36%);
$minwidth:320px;