.about-onplan{
    padding: 100px 0;
    .wrapper-sections{
        position: relative;
        padding: 0 20px;
        max-width: 1140px;
        box-sizing: content-box;
        margin: 0 auto;
        &:before{
            content: '';
            background:linear-gradient(131.67deg, #91CAF2 6%, #7A9CCC 100%);
            position: absolute;
            top: 159px;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: calc(100% - 355px);
        }
    }
    .quickbooks {
        &__bg {
            max-width: 1440px;
            width: 100%;
            max-height: initial;
            height: 598px;
            margin: 0;
            top: -58px;
            pointer-events: none;
        }
        &__content{
            margin: 32px 0 0 0;
        }
        .content{
            &__description{
                p{
                    max-width: 820px;
                    margin: 0 auto;
                }
                h1{
                    max-width: 888px;
                    margin: 0 0 24px 0;
                }
            }
            &__button {
                margin: 58px auto 0 auto;
                max-width: 248px;
                height: 62px;
            }
            &__bottom-text {
                margin: 120px auto 0 auto;
                max-width: 100%;
                h3{
                    color:$darkgreycolor;
                    padding: 0;
                    &:before{
                        display: none;
                    }
                }
                ul{
                    width: 100%;
                    max-width: 977px;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 33px -15px -15px;
                    align-items: center;
                }
                li{
                    width: calc((100% - 15px*12)/6);
                    height: 28px;
                    margin: 15px;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        @media(max-width: 735px){
            .content{
                &__bottom-text{
                    li{
                        width: calc((100% - 15px *6)/ 3);
                        a{
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
        @media(max-width: 424px){
            .content{
                &__bottom-text{
                    li{
                        width: calc((100% - 15px *4)/ 2);
                    }
                }
            }
        }
    }
    .comments{
        padding: 0;
        background: initial;
        margin: 0 0 100px 0;
        position: relative;
        .container{
            padding: 0;
        }
        &__right-side{
            max-width: 624px;
            margin: 11px 0 0 0;
            &:before{
                background-image: url(../img/Integration/commas.svg);
            }
            p{
                color: $textcolor;
            }
            h3{
                color: $textcolor;
            }
        }
        &__content{
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #EDF0F2;
        box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
        max-width: 100%;
        }
        &__company{
            display: none;
            @media(max-width: 767px){
                &.mobile{
                    display: none;
                }
            }
        }
        &__bottom{
            margin: 89px 0 0 0;
        }
    }
    .for-who {
        position: relative;
        max-width: 1140px;
        margin: 100px auto 120px;
		&__content {
            display: flex;
            margin: 0 -40px;
		}

		&__column {
            margin: 0 40px;
            flex: 1 1 45%;
            &:first-child{
                flex: 1 1 55%;
            }
            h3{
                font-size: 40px;
                line-height: 48px;
                font-weight: 900;
                margin: 0 0 32px 0;
                color: $whitecolor;
            }
            p{
                font-size: 18px;
                line-height: 29px;
                margin: 13px 0 0 0;
                color: $whitecolor;
            }
		}
    }
    .great-people {
        background: $greengradient;
        margin: 160px 0 120px;
		&__content {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 164px 20px 184px;
            max-width: 1080px;
            margin: 0 auto;
            box-sizing: content-box;
		}

		&__title {
            position: relative;
            z-index: 2;
            max-width: 500px;
            h3{
                color: $whitecolor;
                font-size: 56px;
                line-height: 62px;
                font-weight: 900;
            }
		}

		&__description {
            position: relative;
            z-index: 2;
            max-width: 500px;
            margin: 0 0 0 40px;
            p{
                font-size: 22px;
                font-weight: 600;
                line-height: 35px;
                color: $whitecolor;
                margin: 0 0 52px 0;
            }
		}

		&__button {
            max-width: 188px;
            height: 48px;
		}

		&__bg-l{
            position: absolute;
            top: 164px;
            left: -30px;
            width: 308px;
            height: 214px;
		}

		&__bg-r{
            position: absolute;
            bottom: 118px;
            right: -82px;
            width: 203px;
            height: 206px;
		}
        @media(max-width: 1023px){
            margin: 80px 0;
            &__content{
                flex-direction: column;
                justify-content: initial;
                padding: 100px 20px;
            }
            &__description{
                margin: 12px 0 0 0;
            }
        }
        @media(max-width: 567px){
            &__title{
                h3{
                    font-size: 36px;
                    line-height: 41px;
                }
            }
            &__description{
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
    .our-team {
        margin: 43px 0 154px 0;
		&__content {
            max-width: 1236px;
            padding: 0 20px;
            box-sizing: content-box;
            margin: 0 auto;
		}

		&__title {
            margin: 0 0 80px 0;
            h2{
                text-align: center;
                font-weight: 900;
                font-size: 54px;
                line-height: 60px;
                color: $textcolor;
                margin: 0 0 24px 0;
            }
            p{
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                color: $textcolor;
                max-width: 613px;
                margin: 0 auto;
            }
		}

		&__list {
            margin: -12px;
            display: flex;
            flex-wrap: wrap;
		}

		&__link {
            position: relative;
            width: calc((100% - (8* 12px))/4);
            height: 413px;
            padding: 32px 30px;
            background: $whitecolor;
            border: 1px solid $greycolor;
            box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
            border-radius: 16px;
            margin: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            &:before{
                content: '';
                position: absolute;
                z-index: 2;
                pointer-events: none;
                overflow: inherit;
                bottom: -1px;
                opacity: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: -webkit-gradient(linear,left bottom,left top,from(white),color-stop(20%,rgba(245,245,245,0)));
                background: -o-linear-gradient(bottom,#fff,rgba(245,245,245,0) 20%);
                background: linear-gradient(to top,#fff,rgba(245,245,245,0) 20%);
            }
            &.active{
                &:before{
                    opacity: 1;
                }
                .our-team{
                    &__author{
                        opacity: 0;
                    }
                    &__more-text{
                        opacity: 0;
                    }
                    &__description{
                        opacity: 1;
                        pointer-events: visible;
                    }
                }
            }
		}
        &__description{
            position: absolute;
            border-radius: 16px;
            overflow: hidden;
            padding: 32px 30px 62px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            line-height: 24px;
            overflow-y: scroll;
            pointer-events: none;
            opacity: 0;
            cursor: grab;
            &::-webkit-scrollbar {
                display: none;
            }
            svg{
                width: 30px;
                height: 20px;
                fill: $textcolor;
                transform: rotate(180deg);
                padding: 10px 0 10px 10px;
                box-sizing: content-box;
                cursor: pointer;
            }
        }

		&__author {
            height: 100%;
            h5{
                text-align: center;
                font-size: 22px;
                line-height: 26px;
                font-weight: 800;
                color: $textcolor;
            }
            p{
                text-align: center;
                font-size: 16px;
                line-height: 20px;
                color: $darkgreycolor;
                margin: 8px 0 0 0;
            }
		}

		&__img {
            width: 100%;
            height: 200px;
            border-radius: 16px;
            overflow: hidden;
            margin: 0 0 24px 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

        &__more-text{
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: $textcolor;
            text-align: center;
            opacity: 1;
            cursor: pointer;
        }
    }

    @media(max-width: 1024px){
        .our-team{
            margin: 29px 0 80px 0;
            &__list{
                display: block;
                white-space: nowrap;
                flex-wrap: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            &__link{
                display: inline-block;
                width: 291px;
                height: 413px;
                white-space: initial;
                box-shadow: initial;
            }
            &__more-text{
                position: absolute;
                bottom: 32px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    @media(max-width: 767px){
        padding: 60px 0;
        .wrapper-sections{
            &:before{
                top: 80px;
            }
        }
        .quickbooks{
            .content{
                margin: 24px 0 0 0;
                &__description{
                    h1{
                        font-size: 40px;
                        line-height: 46px;
                        text-align: left;
                        margin: 0 0 16px 0;
                    }
                    p{
                        font-size: 20px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
                &__bottom-text{
                    margin: 52px 0 0 0;
                }
            }
            .bread-crumbs{
                ul{
                    justify-content: flex-start;
                }
            }
        }
        .for-who{
            margin: 0;
            &__content{
                flex-direction: column;
                margin: 0;
            }
            &__column{
                margin: 52px 0 0 0;
                flex: initial;
                &:first-child{
                    flex: initial;
                }
                h3{
                    font-size: 32px;
                    line-height: 36px;
                    margin: 0 0 20px 0;
                }
                p{
                    font-size: 18px;
                    line-height: 29px;
                    margin: 10px 0 0 0;
                }
            }
        }
        .comments{
            margin: 0;
            &__content{
                border-radius: 16px;
            }
        }
        .our-team{
            &__title{
                margin: 0 0 40px 0;
                h2{
                    font-size: 36px;
                    line-height: 42px;
                    margin: 0 0 12px 0;
                    text-align: left;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    text-align: left;
                }
            }
        }
        .great-people{
            &__bg-l{
                display: none;
            }
            &__bg-r{
                display: none;
            }
        }
    }
    @media(max-width: 424px){
        .quickbooks{
            padding: 0 0 65px 0;
            .content{
                &__button{
                    margin: 51px 0 0 0;
                    max-width: 187px;
                    height: 52px;
                }
                &__bottom-text{
                    margin: 67px auto 0 auto;
                    align-items: center;
                    h3{
                        font-size: 22px;
                        font-weight: 800;
                    }
                }
            }
            
        }
        .comments{
            &__right-side{
                margin: 0;
                p{
                    font-size: 18px;
                    line-height: 29px;
                }
            }
            &__bottom{
                margin: 26px 0 0 0;
            }
            &__person{
                p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}