.all-integrtation{
    padding: 100px 0;
    position: relative;
    @media(max-width: 735px){
        padding: 58px 0;
    }
    .all-integration-menu {
        position: fixed;
        z-index: 999;
        top: -100%;
        height: 74px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
        transition: 500ms ease-in-out;
        &__bottom-links {
            white-space: nowrap;
            overflow: auto;
            margin: 0 -8px;
            padding: 0 20px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &.active{
            top: 82px;
            @media(max-width:1024px){
                top: 70px;
            }
        }
        &__bottom-link {
            display: inline-block;
            background: $whitecolor;
            border: 1px solid $greycolor;
            box-sizing: border-box;
            border-radius: 32px;
            margin: 0 8px;
            transition: 300ms;
            &:last-child{
                position: relative;
                margin: 0 0 0 32px;
                &:before{
                    content: '';
                    position: absolute;
                    left: -24px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 32px;
                    background-color: $greycolor;
                }
            }
            a{
                display: block;
                padding: 10px 24px;
                color: $darkgreycolor;
                font-size: 16px;
                font-weight: 700;
                transition: 300ms;
            }
            &.active-color{
                background:$purplecolor ;
                a{
                    color: $whitecolor;
                }
            }
            @media(min-width: 1440px){
                &:hover{
                    a{
                        opacity: 0.5;
                    }
                }
            }
        }
}

    .quickbooks{
        padding: 0 0 66px 0;
        &__bg{
            top: -99px;
            max-height: inherit;
            min-height: 597px;
        }
        .content {
            margin: 30px 0 0 0;
            &__bottom-wrapper {
                margin: 74px auto 0 auto;
                display: flex;
                justify-content: center;
            }
            &__bottom-link{
                &:last-child{
                    position: relative;
                    margin: 0 0 0 32px;
                    &:before{
                        content: '';
                        position: absolute;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 32px;
                        background-color: $greycolor;
                    }
                }
            }
        }
    }
    .accounting-system {
        margin: 0 0 120px 0;
		&__container {
            position: relative;
            max-width: 1304px;
            padding: 0px 20px;
            margin: 0px auto;
            box-sizing: content-box;
		}

		&__content {
            padding: 16px 132px;
            background: #F2F5FA;
            border-radius: 52px;
		}

        .block-integration {
            margin: 64px 0;
                &__title{
                    h3{
                        color: $textcolor;
                        font-weight: 900;
                        font-size: 26px;
                        line-height: 29px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 29px;
                        margin: 16px 0 0 0;
                        max-width: 720px;
                    }   
                }

                &__wrapper {
                    margin: 31px -9px -9px -9px;
                    display: flex;
                    flex-wrap: wrap;
                    @media(max-width: 1024px ){
                        display: block;
                        white-space: nowrap;
                        overflow-x: auto;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
        
                &__card {
                    height: 236px;
                    width: calc((100% - (8* 9px))/4);
                    background: rgba(255, 255, 255, 0.9);
                    border: 1px solid $greycolor;
                    border-radius: 16px;
                    margin: 9px;
                    @media(max-width: 1024px){
                        display: inline-block;
                        width: 244px;
                        margin: 0 17px 0 0;
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
        
                &__card-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    h5{
                        font-weight: 800;
                        font-size: 22px;
                        line-height: 26px;
                        color: $textcolor;
                        margin: 0 0 12px 0;
                    }
                    p{
                        font-size: 16px;
                        line-height: 19px;
                    }
                    @media(min-width: 1440px){
                        &:hover{
                            .block-integration{
                                &__img{
                                    img{
                                        height: 120%;
                                    }
                                }
                            }
                        }
                    }
                }
        
                &__img {
                    height: 40px;
                    width: 100%;
                    margin: 0 0 24px 0;
                    position: relative;
                    img{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 100%;
                        width: auto;
                        object-fit: contain;
                        transition: 300ms;
                    }
                }
        }
    }
    .exports {
        margin: 0 0 120px 0;
		&__container {
            position: relative;
            max-width: 976px;
            padding: 0px 20px;
            margin: 0px auto;
            box-sizing: content-box;
		}

		&__description {
            text-align: center;
            p{
                font-size: 20px;
                line-height: 32px;
                max-width: 680px;
                margin: 24px auto 0 auto;
            }
		}

		&__list {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid $greycolor;
        box-shadow: 0px 4px 24px rgba(35, 40, 51, 0.05);
        border-radius: 24px;
        padding: 42px 62px;
        display: flex;
        flex-wrap: wrap;
        margin: 64px 0 0 0;
		}
        &__item{
            width: calc(100% / 4);
            margin: 10px 0;
        }

		&__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            h5{
                font-weight: 800;
                font-size: 22px;
                line-height: 27px;
                color: $textcolor;
                margin: 24px 0 0 0;
            }
            p{  
                margin: 12px 0 0 0;
                font-size: 16px;
                line-height: 19px;
                color: $darkgreycolor;
                font-weight: 600;
            }
		}

		&__img {
            width: 52px;
            height: 52px;
            transition: 300ms;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
		}
    }
    .clients{
        padding: 120px 0 80px 0;
        @media(max-width: 767px){
            padding: 80px 0 134px 0;
        }
    }
    @media(max-width: 1439px){
        .accounting-system{
            &__content{
                padding: 15px 50px;
            }
        }
    }
    @media(max-width: 1023px){
        .exports{
            &__item{
                width: calc(100% / 2);
            }
        }
    }
    @media(max-width: 767px){
        .accounting-system{
            .block-integration{
                &:first-child{
                    margin: 0 0 64px 0;
                }
                &:last-child{
                    margin: 64px 0 0 0;
                }
            }
            &__container{
                padding: 0;
            }
            &__content{
                border-radius: 0;
                padding: 39px 20px 64px;
            }
        }
    }
    @media(max-width: 735px){
        .quickbooks{
            padding: 0 0 40px 0;
            .content{
                margin: 23px 0 0 0;
                h1{
                    text-align: left;
                    margin: 0 0 16px 0;
                }
                p{
                    text-align: left;
                }
                &__bottom-wrapper{
                    flex-direction: column;
                    margin: 64px 0 0 0;
                    justify-content: flex-start;
                }
            }
        }
        .bread-crumbs{
            ul{
                justify-content: flex-start;
            }
        }
        .accounting-system{
            margin: 0 0 64px 0;
            .block-integration{
                &__title{
                    h3{
                        font-size: 24px;
                    }
                    p{
                        margin: 12px 0 0 0;
                    }
                }
            }
        }
    }
    @media(max-width: 567px){
        .exports{
            margin: 64px 0 80px 0;
            &__description{
                text-align: left;
                h2{
                    font-size: 36px;
                    line-height: 42px;
                }
                p{
                    margin: 10px auto 0 auto;
                }
            }
            &__item{
                width: 100%;
                margin: 40px 0;
            }
            &__list{
                padding: 24px;
            }
        }
    }
    @media(max-width: 424px){
        .quickbooks{
            .content{
                &__description{
                    h1{
                        line-height: 46px;
                    }
                }
            }
        }
    }
}