.all-cases {
    padding: 100px 0;
    .quickbooks {
        position: relative;
        padding: 0 0 80px 0;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 226px;
                background: $greengradient;
            }
            &__bg{
                margin: 0;
                top: -60px;
            }
            &__button {
                margin: 64px 0 0 0;
                height: 62px;
                max-width: 248px;
            }
            .content {
                margin: 37px 0 0 0;
                    &__bottom-text {
                        margin: 120px auto 0 auto;
                        max-width: 100%;
                        h3{
                            color:$darkgreycolor;
                            padding: 0;
                            &:before{
                                display: none;
                            }
                        }
                        ul{
                            width: 100%;
                            max-width: 977px;
                            display: flex;
                            flex-wrap: wrap;
                            margin: 33px -15px -15px;
                            align-items: center;
                        }
                        li{

                            width: calc((100% - 15px*12)/6);
                            height: 28px;
                            margin: 15px;
                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                    &__description{
                        p{
                            max-width: 520px;
                            margin: 0 auto;
                        }
                    }
            }
        @media(max-width: 735px){
            .content{
                &__bottom-text{
                    li{
                        width: calc((100% - 15px *6)/ 3);
                        a{
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
        @media(max-width: 424px){
            .content{
                &__bottom-text{
                    li{
                        width: calc((100% - 15px *4)/ 2);
                    }
                }
            }
        }
    }
    .catalog {
        margin: 80px 0;
		&__top-content {
            display: flex;
            align-items: flex-start;
            margin: 0 0 64px 0;
		}

		&__cases {
            display: flex;
            flex-wrap: wrap;
            margin: -8px -8px -8px 16px;
            li{
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                padding: 10px 24px;
                background-color: $whitecolor;
                border: 1px solid $greycolor;
                border-radius: 32px;
                margin: 8px;
                color: $darkgreycolor;
                transition: 300ms;
                cursor: pointer;
                &.active-case{
                    background-color: $textcolor;
                    color: $whitecolor;
                }
            }
		}

		&__bottom-content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: -32px;
		}

        &__button{
            margin: 100px auto 0 auto;
            max-width: 305px;
            height: 62px;
            span{
                padding: 0 0 0 27px;
            }
            &:before{
                content: '';
                position: absolute;
                top: 27px;
                left: 64px;
                background-image: url(../img/all-cases/button-arrow.svg);
                background-size: 15px 9px;
                background-repeat: no-repeat;
                width: 15px;
                height: 9px;
            }
        }

        .sort{
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 24px 0 0;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 28px;
                background-color: $textcolor;
                opacity: 0.3;
            }
            p{
                font-size: 14px;
                font-weight: 900;
                line-height: 17px;
                opacity: 0.5;
                color: $textcolor;
                margin: 0 20px 0 0;
            }
            .sort-select {
                position: relative;
                background-color: $whitecolor;
                height: 40px;
                width: 100%;
                min-width: 240px;
                padding: 11px 16px;
                border-radius: 32px;
                border: 1px solid $greycolor;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 14px;
                    right: 16px;
                    background: url(../img/all-cases/arrow-sort.svg);
                    background-repeat: no-repeat;
                    background-size: 10px 10px;
                    transition: 300ms;
                }
                &.turn-arrow {
                    &:before {
                        transform: rotateX(180deg);
                    }
                }
                    &__current {
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        color: $textcolor;
                    }
            
                    &__list {
                        position: absolute;
                        padding: 0 16px;
                        border-radius: 10px;
                        left: 0;
                        top: 39px;
                        width: 100%;
                        overflow: hidden;
                        background-color: rgba(98%, 99%, 99%, 0.7);
                        max-height: 0;
                        transition: 300ms;
                    }
            
                    &__item {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        color: $textcolor;
                        margin: 5px;
                    }
                    &__item.active {
                        display: none;
                    }
            }
        }

        .card {
                width: calc((100% - (32px * 6)) / 3);
                margin:32px;
                &__img {
                    max-width: 370px;
                    width: 100%;
                    height: 280px;
                    border-radius: 24px;
                    overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                }
                h3{
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 120%;
                    color: $textcolor;
                    margin: 24px 0 0 0;
                }
                p{
                    font-size: 20px;
                    line-height: 160%;
                    color: $darkgreycolor;
                    margin: 8px 0 0 0;
                }
            }
    }

}
@media(max-width: 1439px){
    .all-cases{
        .catalog{
            &__bottom-content{
                margin: -16px;
            }
            .card{
                margin: 16px;
                width: calc((100% - (16px * 6)) / 3);
            }
        }
    }
}
@media(max-width: 1023px){
    .all-cases{
        .catalog{
            &__bottom-content{
                justify-content: center;
            }
            .card{
                width: calc((100% - (16px * 4)) / 2);
                max-width: 370px;
            }
        }
    }
}
@media(max-width: 767px){
    .all-cases{
        .catalog{
            &__top-content{
                flex-direction: column;
                align-items: center;
            }
            &__bottom-content{
                margin: -10px;
            }
            .card{
                margin: 10px;
                width: calc((100% - (10px * 2)));
            }
            .sort{
                margin: 0 0 40px 0;
                padding: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
}
@media(max-width: 424px){
    .all-cases{
        .catalog{
            .card{
                max-width: 300px;
                &__img{
                    height: 220px;
                }
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

