.app-listing{
    .quickbooks{
        margin: 100px 0 150px 0;
        padding: 0;
        .content{
            &__buttons-wrapper{
                display: flex;
                justify-content: center;
                max-width: 540px;
                margin: 64px auto 0;
            }
            &__description{
                h1{
                    margin: 32px 0 24px 0;
                }
            }
            &__button{
                &:first-child{
                    margin: 0 15px;
                    max-width: 282px;
                    height: 62px;
                }
                &:last-child{
                    margin: 0 15px;
                    max-width: 224px;
                    height: 62px;
                    font-size: 24px;
                    @media(max-width: 1023px){
                        font-size: 18px;
                    }
                }
            }
        }
        &__bg{
            height: 627px;
            top: -39px;
        }
    }
    .knowledge-hub{
        padding: 0;
        .related-content{
            position: relative;
            z-index: 2;
            margin: 100px 0 84px 0;
            padding: 0;
            background: initial;
            &__title{
                h2{
                    text-align: left;
                    font-size: 48px;
                    line-height: 53px;
                    margin: 0;
                }
            }
            &__content{
                margin: 32px -32px 68px;
            }
            .card{
                &__element-wrapper{
                    margin: 16px -8px 6px -8px;
                }
            }
        }
    }
    .features-app {
        margin: 120px 0 100px 0;
        padding: 0 0 64px 0;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 1134px;
            height: 390px;
            width: 100%;
            background: #F2F5FA;
            border-radius: 32px;
        }
		&__container {
            position: relative;
            z-index: 2;
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
            box-sizing: content-box;
		}

		&__title {
            h3{
                font-weight: 900;
                font-size: 54px;
                line-height: 59px;
                color: $textcolor;
                text-align: center;
                margin: 0 0 64px 0;
            }
		}

		&__list {
            margin: -10px;
            display: flex;
            flex-wrap: wrap;
		}

		&__link {
            margin: 10px ;
            width: calc((100% - (8* 10px))/4);
            height: 391px;
            background: $whitecolor;
            box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
            border-radius: 16px;
            padding: 40px 32px 43px;
            span{
                font-weight: 900;
                font-size: 64px;
                line-height: 90%;
                color: $purplecolor;
            }
            p{
                font-size: 18px;
                line-height: 160%;
                color: $darkgreycolor;
                opacity: 0.8;
                margin: 20px 0 0 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 8;
                overflow: hidden;
            }
		}
    }
    .related-content{
        .card{
            &__content{
                &:before{
                    background: linear-gradient(to right, rgb(245, 245, 245, 0) 20%, rgb($bg-greycolor , 1));
                }
            }
        }
    }
    @media(max-width: 1023px){
        .quickbooks{
            .bread-crumbs{
                ul{
                    justify-content: center;
                }
            }
            .content{
                &__description{
                    h1{
                        text-align: center;
                    }
                }
            }
        }
        .features-app{
            margin: 80px 0;
            padding: 0;
            &:after{
                display: none;
            }
            &__link{
                width: calc((100% - (4* 10px))/2);
            }
            &__title{
                h3{
                    margin: 0 0 30px 0;
                    font-size: 48px;
                    line-height: 52px;
                }
            }
        }
    }
    @media(max-width: 767px){
        .knowledge-hub{
            .related-content{
                margin: 80px 0;
            }
        }
    }
    @media(max-width: 567px){
        .quickbooks{
            .content{
                &__description{
                    h1{
                        margin: 24px 0 30px 0;
                    }
                }
                &__buttons-wrapper{
                    flex-direction: column;
                    justify-content: initial;
                    align-items: center;
                    margin: 30px auto 0;
                }
                &__button{
                    &:first-child{
                        max-width: 224px;
                        height: 58px;
                    }
                    &:last-child{
                        height: 58px;
                        margin: 15px 0 0 0  ;
                    }
                }
            }
        }
        .features-app{
            &__link{
                width: calc((100% - (2* 10px)));
            }
            &__title{
                h3{
                    font-size: 38px;
                    line-height: 40px;
                }
            }
        }
        .knowledge-hub{
            .related-content{
                &__title{
                    h2{
                        font-size: 38px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}