.header-demo {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background: $blue-book-gradient;
    min-height: 48px;
    &__container{
        max-width: 1336px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: content-box;
    }
    &__content {
        display: flex;
        margin: 0 -12px;
    }
    &__link{
        margin: 0 12px;
        display: flex;
        align-items: center;
        transition: 300ms;
        cursor: pointer;
        a{
            font-weight: 800;
            font-size: 16px;
            line-height: 120%;
            color: $whitecolor;
            margin: 0 0 0 8px;
        }
        svg{
            fill: $whitecolor;
        }
        &.sign-in{
            svg{
                height: 16px;
                width: 12px;
            }
        }
        &.contact{
            svg{
                height: 15px;
                width: 15px;
            }
        }
        &:hover{
            opacity: 0.5;
        }
    }
}
.book-a-demo {
    padding: 64px 0 100px 0;
    &__container {
        max-width: 600px;
        padding: 0 700px 0 140px;
        box-sizing: content-box;
        margin: 0 auto;
    }
    &__title {
        p{
            margin: 16px 0 0 0;
            font-size: 20px;
            line-height: 30px;
        }
    }
    &__img {
        max-width: 600px;
        max-height: 346px;
        margin: 64px 0 40px 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__list {
        li{
            position: relative;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: $textcolor;
            opacity: 0.9;
            padding: 0 0 0 34px;
            margin: 0 0 12px 0;
            &:last-child{
                margin: 0;
            }
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url(../img/book-a-demo/accept.svg);
                background-size: 18px 14px;
                background-repeat: no-repeat;
                width: 18px;
                height: 14px;
            }
        }
    }
    &__awards {
        max-width: 428px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0 64px 0;
    }
    &__award{
        max-height: 100px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__swiper-book{
        position: relative;
        width: 100%;
        max-width: 600px;
        h3{
            font-weight: 800;
            font-size: 28px;
            line-height: 35px;
            color: $textcolor;
        }
    }
    .swiper-integration{
        &:before{
            display: none;
        }
        &__pagination {
            margin: 42px 0 0 35px;
        }
        .swiper {
            margin: 32px 0 0 0;
            &__component {
                padding: 89px 40px 40px;
                p{
                    line-height: 29px;
                    font-size: 18px;
                }
                &:before{
                    content: '';
                    top: 40px;
                    left: 39px;
                }
            }
        
            &__info {
                h3{
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 25px;
                    display: flex;
                    align-items: flex-end;
                    color: #232F42;
                }
                p{
                    margin: 10px 0 0 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    &__form-container{
        position: fixed;
        pointer-events: none;
        z-index: 1001;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        max-width: 1440px;
        padding: 0 20px;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        &:before{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: -100%;
            height: 100%;
            width: 100%;
            background-color: $whitecolor;
        }
    }

    .form {
        position: absolute;
        pointer-events: auto;
        top: 0;
        right: 0;
        background-color: $whitecolor;
        height: 100vh;
        max-width: 565px;
        width: 100%;
        padding: 47px 72px 90px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
            &__logo {
                width: 128px;
                height: 24px;
                margin: 0 0 52px 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__title{
                margin: 0 0 24px 0;
                h3{
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 120%;
                    color: $textcolor;
                }
                p{
                    font-size: 18px;
                    line-height: 160%;
                    color: $darkgreycolor;
                    margin: 8px 0 0 0;
                }
            }

            // &__inputs-wrapper {
            //     margin: 24px 0;
            // }

            // &__inputs-group {
            //     display: flex;
            //     justify-content: space-between;
            //     margin: 16px 0 0 0;
            //     &:first-child{
            //         margin: 0;
            //     }
            // }

            // &__inputs {
            //     display: flex;
            //     flex-direction: column;
            //     width: 100%;
            //     max-width: 200px;
            //     &.email{
            //         max-width: 100%;
            //     }
            //     &.text-area{
            //         max-width: 100%;
            //     }
            //     span{
            //         opacity: 0.5;
            //     }
            //     label{
            //         font-weight: 600;
            //         font-size: 12px;
            //         line-height: 120%;
            //         color: $darkgreycolor;
            //         margin: 0 0 8px 0;
            //     }
            //     input{
            //         height: 40px;
            //         border: 1px solid $greycolor;
            //         box-sizing: border-box;
            //         border-radius: 8px;
            //         background-color: $bg-greycolor;
            //     }
            //     textarea{
            //         background-color: $bg-greycolor;
            //         border: 1px solid $greycolor;
            //         resize: none;
            //         outline: none;
            //         overflow: auto;
            //         border-radius: 8px;
            //         height: 80px;
            //     }
            // }

            // &__button {
            //     max-width: 100%;
            // }

            &__text {
                margin: 16px 0 0 0;
                p{
                    font-size: 12px;
                    line-height: 15px;
                    color: $darkgreycolor;
                    text-align: center;
                    a{
                        color:$purplecolor;
                    }
                }
            }

            &__logos-list {
                display: flex;
                flex-wrap: wrap;
                margin: 50px auto -14px auto;
                li{
                    margin: 13px 23px;
                    height: 23px;
                    width: calc((100% - (23px * 6)) / 3);
                    display: flex;
                    justify-content: flex-start;
                    a{
                        display: block;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    @media(max-width: 1439px ){
    padding: 0 0 100px 0;
    &__content{
        order: 2;
        margin: 52px 0 0 0;
    }
    &__container{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
    &__form-container{
        order: 1;
        position: static;
        pointer-events: auto;
        z-index: inherit;
        top: inherit;
        right: inherit;
        transform: inherit;
        padding: 0;
        &:before{
            content: '';
            display: none;
        }
    }
    .form{
        position: static;
        max-width: 100%;
        overflow: inherit;
        height: 100%;
        &::-webkit-scrollbar {
            width: 100%;
        }
    }
    }
    @media(max-width: 767px){
        &__form-container{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                width: 100vw;
                background-color: $whitecolor;
            }
        }
        .form{
            position: relative;
            z-index: 2;
            padding: 32px 0 55px;
            box-shadow: inherit;
            &__logos-list{
                margin: 5px -15px 0 -14px;
                li{
                    margin: 17px 14px;
                    width: calc((100% - ( 14px * 6)) / 3);
                }
            }
            &__logo{
                margin: 0 0 40px 0;
            }
        }
        &__title{
            h3{
                font-size: 32px;
                line-height: 36px;
            }
            p{
                margin: 10px 0 0 0;
                font-size: 18px;
                line-height: 29px;
            }
        }
        &__img{
            margin: 40px 0 32px 0;
        }
        &__awards{
            margin: 32px 0 52px;
        }
    }
    @media(max-width: 374px){
        .form{
            &__logos-list{
                display: none;
            }
        }
    }
    }

    

