.case-studies{
    padding: 0 0 100px 0;
    @media(max-width:735px){
        padding: 0 0 50px 0;
    }
.quickbooks {
        padding: 0 0 40px 0;
        position: relative;
        max-width: 1440px;
        margin:  0 auto;
        &:before{
            content: '';
            position: absolute;
            top: 217px;
            left: 344px;
            width: 562px;
            height: 562px;
            background-size: 562px 562px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 530px;
        }
        &.purple-bg{
            &:before{
                background-image: url(../img/case-studies/purple-sq.svg);
            }
            &:after{
                background: $purplegradient;
            }
        }
        &.green-bg{
            &:before{
                background-image: url(../img/case-studies/green-sq.svg);
            }
            &:after{
                background: $greengradient;
            }
        }
        &__bread-crumbs {
            ul{
                justify-content: flex-start;
            }
        }
    
        .content {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 40px 0 0 0;
            &__top-text {
                text-align: left;
                max-width: 600px;
                align-items: flex-start;
                margin: 123px 0 0 0;
                position: relative;
                z-index: 2;
            }
    
            &__button {
                margin: 64px 0 0 0;
                height: 62px;
                max-width: 248px;
            }
        
            &__description {
                h1{
                    margin: 40px 0 22px 0;
                    line-height: 70px;
                }
                p{
                    max-width: 400px;
                }
            }
        
            .studies {
            
                &__img {
                    position: relative;
                    max-width: 470px;
                    width: 100%;
                    padding: 40px;
                    max-height: 640px;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 40px;
                    box-sizing: content-box;
                    img{
                        position: relative;
                        border-radius: 40px;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 550px;
                        height: 720px;
                        background: #F8F9FC;
                        opacity: 0.2;
                        // border-radius: 40px;
                    }
                }
            }
        }
}
.about {
        padding: 120px 0 55px 0;
        background: $light-blue-gradien;
		&__content {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 1160px;
            margin: 0 auto;
		}

        &__block{
            display: flex;
            justify-content: space-between;
            margin: 0 0 64px 0;
            position: relative;
            z-index: 2;
            &:last-child{
                margin: 0;
            }
            h3{
                color: $whitecolor;
                margin: 0 30px 0 0;
                min-width: 350px;
            }
        }

		&__text {
            max-width: 640px;
            p{
                font-size: 18px;
                line-height: 29px;
                color: $whitecolor;
                margin: 20px 0 0 0;
                &:first-child{
                    margin: 0;
                }
            }
            h4{
                font-size: 20px;
                line-height: 24px;
            }
		}

        &__bg{
            position: absolute;
            width: 562px;
            height: 562px;
            left: -42px;
            bottom: -202px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
}
.models {
    margin: 125px 0 120px 0;
    &__content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        h2{
            margin: 0 0 24px 0;
        }
        p{
            text-align: center;
            font-size: 22px;
            line-height: 33px;
            font-weight: 600;
            max-width: 640px;
            margin: 0 auto;
        }
    }
    &__container{
        position: relative;
        max-width: 1643px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: content-box;
    }
    &__bg{
        position: absolute;
        top: -72px;
        left: 1px;
        width: 100%;
        height: 100%;
        max-width: 1643px;
        max-height: 586px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .table{
        position: relative;
        width: 100%;
        padding: 64px 64px 40px;
        background: $whitecolor;
        border: 1px solid $greycolor;
        box-sizing: border-box;
        box-shadow: 0px 24px 40px rgba(36, 46, 66, 0.05);
        border-radius: 32px;
        margin: 64px 0 0 0;
        max-width: 1240px;
        margin: 64px auto 0 auto;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 1px;
            background-color: $greycolor;
        }
        &__title{
            display: grid;
            grid-template-columns: 1fr 1fr;
            h3{
                position: relative;
                padding: 32px 0 20px 0;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 58px;
                    height: 6px;
                    border-radius: 8px;
                }
                &.purple{
                    &:before{
                        background: $purplecolor;
                    }
                }
                &.green{
                    margin: 0 0 0 52px;
                    &:before{
                        background: $greencolor;
                    }
                }
            }
        }
        &__row{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr;
            border-bottom: 1px solid $greycolor;
            &:last-child{
                border-bottom: none;
            }
        }
        &__content{
            padding: 20px 0 20px 0;
            margin: 0 10px 0 0;
            &:last-child{
                padding: 20px 0 20px 52px;
                margin: 0;
            }
            h3{
                display: none;
                font-weight: 800;
                font-size: 18px;
                line-height: 120%;
                color: $textcolor;
                padding: 13px 0 14px 40px;
                border-bottom: 1px solid $greycolor;
            }
            p{
                padding: 0 0 0 26px;
                max-width: 504px;
                font-size: 18px;
                line-height: 150%;
                position: relative;
                text-align: left;
                margin: 0;
                span{
                    position: absolute;
                    top: 5px;
                    left: 0;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 100%;
                    height: 18px;
                    width: 11px;
                }
            }
            &.purple{
                p{
                    span{
                        color: $purplecolor;
                    }
                }
            }
            &.green{
                p{
                    span{
                        color: $greencolor;
                    }
                }
            }
        }
    }
}
.comments {
    background: $purplegradient;
    padding: 120px 0;
    h2{
        text-align: center;
        color: $whitecolor;
        margin: 0 0 40px 0;
    }
    &__content {
        max-width: 1120px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 40px 58px;
    }

    &__left-side {
        max-width: 100%;
        width: 100%;
        margin: 0 20px 0 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        max-width: 370px;
        max-height: 370px;
        border-radius: 30px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.mobile{
            display: none;
        }
    }

    &__right-side {
        max-width: 590px;
        padding: 44px 0 0 0;
        margin: 44px 0 0 0;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url(../img/case-studies/commas.svg);
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
        p{
            color: $whitecolor;
            line-height: 32px;
            font-weight: 400;
            font-size: 20px;
        }
        h3{
            color: $whitecolor;
        }
    }

    &__bottom {
        display: flex;
        margin: 52px 0 0 0;
        justify-content: space-between;
    }

    &__person {
        max-width: 180px;
        p{
            opacity: 0.6;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__company {
        display: flex;
        height: 100%;
        max-height: 100%;
        span{
            padding: 0 24px 0 0;
            box-sizing: content-box;
            border-right: 1px solid $whitecolor;
            max-width: 200px;
            max-height: 30px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        svg{
            width: 24px;
            height: 24px;
            fill: $whitecolor;
            opacity: 0.8;
            padding: 0 0 0 24px;
            box-sizing: content-box;
        }
        &.mobile{
            display: none;
            justify-content: center;
            margin: 40px 0 0 0;
        }
        &.desktop{
            padding: 15px 0 0 0;
        }
    }
}
    @media(max-width: 1439px){
        .quickbooks{
            padding: 0 0 70px 0;
            &:before{
                top: 119px;
                left: 16px;
            }
            &:after{
                width: 317px;
            }
            .content{
                .studies{
                    margin: 0 20px 0 0;
                    &__img{
                        width: 342px;
                        max-height: 531px;
                    }
                }
            }
        }
        .comments{
            &__right-side{
                margin: 0;
            }
        }
        .models{
            &__bg{
                display: none;
            }
        }
    }
    @media(max-width: 1023px){
        .quickbooks{
            padding: 0;
            &:before{
                display: none;
            }
            &:after{
                top: inherit;
                bottom: 0;
                height: 352px;
                width: 100%;
            }
            .content{
                flex-direction: column;
                justify-content: inherit;
                align-items: center;
                padding: 0;
                &__top-text{
                    margin: 60px 0 0 0;
                }
                .studies{
                    margin: 0;
                    &__img{
                        width: 100%;
                        max-width: 335px;
                        max-height: 456px;
                        padding: 0;
                        margin: 4px 0 0 0;
                        top: 52px;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
        .comments{
            &__img{
                width: 286px;
                height: 286px;
            }
            &__bottom{
                flex-direction: column;
            }
            &__company{
                margin: 20px 0 0 0;
                &.desktop{
                    padding: 0;
                }
            }
            &__bottom{
                align-items: flex-end;
            }
        }
        .models{
            .table{
                padding: 30px;
            }
        }
    }
    @media(max-width: 767px){
        .about{
            &__block{
                h3{
                    font-size: 32px;
                    line-height: 36px;
                    margin: 0 0 32px 0;
                }
                flex-direction: column;
            }
            &__bg{
                display: none;
            }
        }
        .comments{
            &__left-side{
                display: none;
            }
            &__wrapper{
                display: flex;
            }
            &__img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 12px 0 0;
                &.mobile{
                    display: block;
                }
            }
            &__company{
                &.desktop{
                    display: none;
                }
                &.mobile{
                    display: flex;
                }
            }
            &__content{
                padding: 40px 32px 40px;
            }
            &__bottom{
                margin: 24px 0 0 0;
                align-items: flex-start;
            }
        }
        .models{
            margin: 64px 0 52px 0;
            &__content{
                align-items: flex-start;
                h2, p{
                    padding: 0 15px;
                    box-sizing: content-box;
                }
                p{
                    text-align: left;
                }
            }
            &__container{
                padding: 0;
            }
            .table{
                padding: 0;
                border-radius: inherit;
                background: inherit;
                border: none;
                box-shadow: inherit;

                &:before{
                    display: none;
                }
                &__title{
                    display: none;
                }
                &__row{
                    grid-template-columns: 100%;
                    grid-template-rows: 1fr 1fr;
                    border-bottom: none;
                    margin: 0 0 20px 0;
                    background: $whitecolor;
                    &:last-child{
                        margin: 0;
                    }
                }
                &__content{
                    position: relative;
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid $greycolor;
                    border-top: 1px solid $greycolor;
                    p{
                        position: static;
                        padding: 16px 20px 17px;
                        margin: 0;
                        span{
                            left: 20px;
                            top: 15px;
                        }
                    }
                    h3{
                        display: block;
                    }
                    &:last-child{
                        padding: 0;
                        border-top: none;
                    }
                }
            }
        }
    }
    @media(max-width: 424px){
        .quickbooks{
            &__bread-crumbs{
                font-size: 14px;
            }
            .content{
                &__description{
                    h1{
                        margin: 24px 0 16px 0;
                        font-size: 40px;
                        line-height: 46px;
                    }
                    p{
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
                &__button{
                    height: 52px;
                    max-width: 187px;
                    margin: 52px 0 0 0;
                }
            }
        }
        .comments{
            padding: 80px 0;
        }
        .models{
            &__content{
                h2{
                    margin: 0;
                }
                p{
                    font-size: 20px;
                }
            }
            .table{
                margin: 24px 0 0 0;
                &__content{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media(max-width: 374px){
        .models{
            &__content{
                h2{
                    font-size:30px;
                }
            }
        }
    }
}


