.compare-competition{
    padding: 100px 0;
    .quickbooks {
        &__bg {
            max-width: 1440px;
            width: 100%;
            max-height: initial;
            height: 598px;
            margin: 0;
            top: -58px;
            pointer-events: none;
        }
        &__content{
            margin: 32px 0 0 0;
        }
        .content{
            &__description{
                p{
                    max-width: 600px;
                    margin: 0 auto;
                }
                h1{
                    max-width: 888px;
                    margin: 0 0 24px 0;
                    @media(max-width: 424px){
                        line-height: 46px;
                    }
                }
            }
        }
    }
    .compare-table{
        max-width: 1240px;
        padding: 0 20px;
        margin: 0 auto;
        box-sizing: content-box;
        .table-price {
            &__top-block {
                display: flex;
                border-radius: 24px 24px 0 0;
                border: 1px solid $greycolor;
                border-bottom: initial;
                .content-description{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    p{
                        margin: 20px 0 0 0;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: $darkgreycolor;
                    }
                }

                .table-scroll {
                    position: relative;
                    display: block;
                    white-space: nowrap;
                    overflow-x: auto;
                    max-width: 774px;
                    width: 100%;
                    background: $whitecolor;
                    border-radius: 0 24px 0 0;
                    cursor: grab;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                        &__col {
                            display: inline-block;
                            width: 191px;
                            height: 100%;
                            border-right: 1px solid $greycolor;
                            &:last-child{
                                margin: 0 583px 0 0;
                            }
                        }
        
                        &__img{
                            height: 52px;
                            max-width: 105px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                }
            }
    
            &__title {
                background: $whitecolor;
                padding: 32px 40px 40px;
                border-radius: 24px 0 0 0;
                flex: 0 0 281px;
                border-right: 1px solid $greycolor;
                h5{
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 900;
                    color: $textcolor;
                    max-width: 150px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    margin: 8px 0 0 0;
                }
            }
    
            &__content-wrapper {
                width: 187px;
                border-right: 1px solid $greycolor;
                box-shadow: 10px 0 7px -5px rgba($color: rgb(112, 111, 111) , $alpha: 0.5);
                position: relative;
                z-index: 2;
            }
    
            &__col {
                width: 187px;
                height: 100%;
                border-right: 1px solid $greycolor;
            }
    
            &__content-description {
                background: #FBFCFE;
            }

            &__description-title {
                font-size: 18px;
                line-height: 21px;
                color: $darkgreycolor;
                font-weight: 800;
                padding: 13px 40px;
                border: 1px solid $greycolor;
                border-top: initial;
            }

            &__bottom-heading {
                font-size: 24px;
                line-height: 29px;
                color: $textcolor;
                font-weight: 800;
                padding: 28px 40px;
                border: 1px solid $greycolor;
                border-top: initial;
            }

            .bottom-table {
                &__row {
                    display: flex;
                    border:  1px solid $greycolor;
                    border-top: initial;
                }
        
                &__title {
                    flex: 0 0 281px;
                    font-size: 16px;
                    line-height: 19px;
                    background: $whitecolor;
                    padding: 14px 14px 14px 40px;
                    border-right:  1px solid $greycolor;
                }
        
                &__column {
                    flex: 0 0 187px;
                    background: #FBFCFE;
                    border-right:  1px solid $greycolor;
                    box-shadow: 10px 0 7px -5px rgb(112 111 111 / 50%);
                    position: relative;
                    z-index: 2;
                    span{
                        font-size: 12px;
                        line-height: 15px;
                        color: $darkgreycolor;
                        opacity: 0;
                        display: block;
                        margin: 12px 0 0 20px;
                    }
                    p{
                        position: absolute;
                        font-size: 16px;
                        line-height: 19px;
                        color: $darkgreycolor;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .link-dots {
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 46px;
                        height: 7px;
                        background-size: 46px 7px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background: url(../../img/compare/no-dots.svg);
                    }
                    &.dots-4{
                        &:after{
                            background: url(../img/compare/4_dots.svg);
                        }
                    }
                    &.dots-3{
                        &:after{
                            background: url(../img/compare/3_dots.svg);
                        }
                    }
                    &.dots-2{
                        &:after{
                            background: url(../img/compare/2_dots.svg);
                        }
                    }
                    &.dot-1{
                        &:after{
                            background: url(../../img/compare/1_dot.svg);
                        }
                    }
                }

                .bottom-scrolling-table {
                    position: relative;
                    display: block;
                    white-space: nowrap;
                    overflow-x: auto;
                    max-width: 774px;
                    width: 100%;
                    background: $whitecolor;
                    cursor: grab;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                        &__column {
                            position: relative;
                            display: inline-block;
                            width: 191px;
                            height: 100%;
                            border-right: 1px solid $greycolor;
                            &:last-child{
                                margin: 0 583px 0 0;
                            }
                            span{
                                opacity: 0;
                            }
                            p{
                                position: absolute;
                                font-size: 16px;
                                line-height: 19px;
                                color: $darkgreycolor;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                }
            }
        }

    
    }
    .trusted-by{
        margin: 120px 0;
    }
    .user-experience {
        &__container {
            max-width: 1240px;
            padding: 0 20px;
            margin: 0 auto;
            box-sizing: content-box;
		}

		&__title {
            text-align: center;
            p{
                max-width: 680px;
                margin: 24px auto 0;
                font-size: 20px;
                line-height: 30px;
            }
		}

		&__list {
            margin: 80px 0 0 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 70px -10px 90px;
		}

		&__link {
            width: calc((100% - (8* 10px))/4);
            max-width: 295px;
            margin: 10px;
            padding: 42px 32px 52px;
            background: rgba(255, 255, 255, 0.9);
            border: 1px solid rgba(255, 255, 255, 0.8);
            box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
            border-radius: 16px;
            h5{
                font-size: 22px;
                line-height: 26px;
                color: $textcolor;
                font-weight: 800;
                margin: 0 0 12px 0;
            }
            p{
                font-size: 18px;
                line-height: 29px;
                color: $darkgreycolor;
            }
            a{
                font-size: 16px;
                line-height: 19px;
                font-weight: 700;
                color: $purplecolor;
                margin: 24px 0 0 0;
                display: block;
                svg{
                    width: 14px;
                    height: 8px;
                    fill: $purplecolor;
                    margin: 0 0 0 8px;
                }
            }
		}

		&__img {
            display: flex;
            height: 68px;
            max-width: 123px;
            margin: 0 0 32px 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
		}
    }
    @media(max-width: 1023px){
        .user-experience{
            &__link {
                width: calc((100% - (4* 10px))/2);
            }
        }
    }
    @media(max-width: 567px){
        .user-experience{
            &__link {
                width: calc((100% - (2* 10px)));
            }
            &__list{
                margin: 40px -10px;
            }
        }
    }
}