.feature-template{
    padding: 0 0 100px 0;
    .top-heading {
        padding: 90px 0 100px 0;
        background:linear-gradient(87.24deg, #96B2F7 4.6%, #838AF5 95.4%), #C4C4C4;
        margin: 0 0 100px 0;
        &.temporarily{
            .bread-crumbs{
                ul{
                    justify-content: center;
                }
            }
            .top-heading{
                &__picture{
                    display: none;
                }
                &__description{
                    flex: initial;
                }
                &__title{
                    h1{
                        text-align: center;
                    }
                    p{
                        text-align: center;
                    }
                }
                &__button{
                    font-size: 18px;
                    margin: 64px auto 0;
                    @media(max-width: 767px){
                        font-size: 14px;
                    }
                }
            }
        }
        &__container {
            position: relative;
            max-width: 1240px;
            padding: 0 20px;
            box-sizing: content-box;
            margin: 0 auto;
            display: flex;
        }
    
        &__description {
            flex: 0 1 49%;
            position: relative;
            z-index: 2;
            margin: 10px 0 0 0;
        }
    
        &__title {
            h1{
                color: $whitecolor;
                line-height: 69px;
            }
            p{
                font-size: 22px;
                line-height: 33px;
                color: $whitecolor;
                margin: 20px 0 0 0;
            }
        }
    
        &__button {
            margin: 64px 0 0 0;
            max-width: 248px;
            height: 62px;
            font-size: 18px;
            line-height: 22px;
        }
    
        &__picture {
            position: relative;
            z-index: 2;
        }
    
        &__img {
            position: relative;
            width: 605px;
            height: 533px;
            box-sizing: content-box;
            padding: 0 0 0 33px;
            &:before{
                content: '';
                position: absolute;
                top: 26px;
                left: 216px;
                width: 420px;
                height: 520px;
                background: #8F9EF7;
                border-radius: 24px;
                opacity: 0.5;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            img{
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    
        &__bg-top {
            position: absolute;
            width: 400px;
            height: 400px;
            top: -153px;
            left: 327px;
        }
    
        &__bg-bottom {
            position: absolute;
            height: 400px;
            width: 400px;
            bottom: -79px;
            left: 203px;
        }

        &__bg-mobile{
            display: none;
            position: absolute;
            height: 400px;
            width: 400px;
            bottom: -131px;
            left: 53px;
        }

        .bread-crumbs{
            margin: 0 0 32px 0;
            ul{
                justify-content: flex-start;
            }
            li{
                a{
                    color: $whitecolor;
                    opacity: 0.5;
                }
                &:before{
                    background: $whitecolor;
                    opacity: 0.5;
                }
            }
        }
    }
    .editor{
        max-width: 1160px;
        padding: 0 20px;
        box-sizing: content-box;
        margin: 100px auto 200px;
        display: flex;
        &__content{
            padding: 0 166px 0 0;
            max-width: 740px;
        }
        .right-relative-block{
            position: fixed;
            top: -100%;
            right: 50%;
            transform: translateX(580px);
            width: 254px;
            max-height: 100%;
            transition: 300ms ease-in-out;
            &.active{
                top: 92px;
            }
            h5{
                font-weight: 600;
                color: $darkgreycolor;
                opacity: 0.5;
                font-size: 12px;
                line-height: 15px;
                margin: 0 0 10px 0;
                text-transform: uppercase;
                padding: 0 0 0 10px;
            }
            p{
                display: flex;
                flex-direction: column;
                a{
                    font-size: 16px;
                    line-height: 17px;
                    font-weight: 700;
                    color: $textcolor;
                    padding: 12px 16px;
                    transition: 300ms;
                    &.active-color{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        color: $purplecolor;
                        padding: 12px 16px;
                        background: rgba(110, 122, 255, 0.1);
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    @media(max-width: 1199px){
        .editor{
            .right-relative-block{
                right: 10px;
                transform: initial;
                width: 230px;
            }
        }
    }
    @media(max-width: 1023px){
        .top-heading{
            margin: 0 0 32px 0;
            &__container{
                flex-direction: column;
            }
            &__img{
                &:before{
                    top: -33px;
                }
                margin: 50px auto 0;
            }
        }
        .editor{
            margin: 32px 0;
            flex-direction: column;
            &__content{
                order: 2;
            }
            &__position-block{
                order: 1;
            }
            .right-relative-block{
                position: static;
                background: $greycolor;
                padding: 32px 32px 40px;
                border-radius: 16px;
                width: 100%;
                margin: 0 0 32px 0;
                h5{
                    padding: 0;
                }
                a{
                    position: relative;
                    padding: 0 0 0 24px;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        height: 7px;
                        width: 4px;
                        background: url(../img/feature-template/triangle.svg);
                        background-size: 4px 7px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
    @media(max-width: 767px){
        .top-heading{
            padding: 50px 0 80px 0;
            &__img{
                display: none;
            }
            &__title{
                h1{
                    font-size: 40px;
                    line-height: 46px;
                }
                p{
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            &__button{
                margin: 52px 0 0 0;
                max-width: 187px;
                height: 52px;
                font-size: 16px;
                line-height: 19px;
            }
            &__bg-top{
                display: none;
            }
            &__bg-bottom{
                display: none;
            }
            &__bg-mobile{
                display: block;
            }
            .bread-crumbs{
                margin: 0 0 24px 0;
            }
        }
    }
}
