.integration {
    position: relative;
    padding: 100px 0;

    .benefits {
    &__content {
        padding: 120px 0;
    }

    &__top-content {
        margin: 0 0 64px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            margin: 0 0 24px 0;
        }
        p{
            max-width: 680px;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;

        }
    }

    &__bottom-content {
        display: flex;
        justify-content: center;
        margin: -10px;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 50px 15px 15px 15px;
        align-items: center;
        width: calc((100% - (10px * 8)) / 4);
        max-width: 295px;
        height: 100%;
        min-height: 238px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
        border-radius: 16px;
        p{
            font-size: 22px;
            line-height: 26px;
            font-weight: 800;
            max-width: 188px;
            text-align: center;
            color: $textcolor;
        }
    }

    &__img {
        width: 58px;
        height: 58px;
        margin: 0 0 24px 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

    .clients {
    padding: 0 0 80px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }

    &__left-side {
        h2{
            margin: 119px 20px 0 0;
        }
    }

    &__button {
        margin: 40px 0 0 0;
        max-width: 250px;
        &.button-bottom-clients{
            display: none;
        }
    }
}
}

@media(max-width: 1023px){
    .integration{
        .benefits{
            &__card{
                width: calc((100% - (10px * 4)) / 2);
            }
        }
        .clients{
            &__content{
                justify-content: inherit;
                align-items: center;
                flex-direction: column;
            }
            &__left-side{
                h2{
                    margin: 0 0 40px 0;
                }
            }
            .swiper-integration{
                &:before{
                    display: none;
                }
                .swiper-pagination{
                    margin: 29px 0 0 0;
                    justify-content: center;
                }
            }
            &__button{
                margin: 46px 0 0 0;
                &.button-top-clients{
                    display: none;
                }
                &.button-bottom-clients{
                    display: flex;
                }
            }
        }
    }
}
@media(max-width: 735px){
    .integration{
        padding: 58px 0;
        .benefits{
            &__content{
                padding: 77px 0;
            }
        }
    }
}
@media(max-width: 567px){
    .integration{
        .benefits{
            &__card{
                width: calc((100% - (10px * 2)));
            }
        }
        .clients{
            .swiper-integration{
                .swiper{
                    .slider-arrow{
                        display: none;
                    }
                }
            }
        }
    }
}
@media(max-width: 424px){
    .integration{
        .clients{
            .swiper-integration{
                .swiper{
                    &__component{
                        padding: 80px 39px 34px;
                        &:before{
                            top: 35px;
                            left: 15px;
                        }
                        p{
                            font-size: 18px;
                            line-height: 29px;
                        }
                    }
                    &__person{
                        margin: 31px 0 0 0;
                    }
                    &__img{
                        width: 50px;
                        height: 50px;
                    }
                    &__info{
                        margin: 0 0 0 10px;
                        h3{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }
            }
            &__left-side{
                h2{
                    font-size: 36px;
                    line-height: 42px;
                }
            }
        }
        .benefits{
            &__top-content{
                margin: 0 0 54px 0;
                h2{
                    font-size: 36px;
                    line-height: 42px;
                    margin: 0 0 11px 0;
                }
            }
            &__card{
                max-width: 335px;
            }
        }
    }
}