.knowledge-hub{
    padding: 0 0 100px 0;
    @media(max-width: 735px){
        padding: 0 0 58px 0;
    }
    .resources-blog{
        padding: 0;
    }
    .filter {
        position: relative;
        z-index: 2;
        padding: 0 0 75px 0;
        margin: 38px 0 0 0;
		&__container {
            max-width: 1240px;
            padding: 0 20px;
            margin: 0 auto;
            box-sizing: content-box;
            display: flex;
		}
        .nav-list {
            width: 254px;
            margin: 0 64px 0 0;
            &__title {
                font-size: 12px;
                line-height: 15px;
                font-weight: 600;
                color: $darkgreycolor;
                opacity: .6;
                padding: 0 0 0 10px;
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
            
            &__list {
                    position: relative;
                    padding: 0 0 15px 0;
                    margin: 16px 0 24px 0;
                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        max-width: 222px;
                        width: 100%;
                        height: 1px;
                        background: $greycolor;
                    }
                }
        
                &__link {
                    font-weight: 700;
                    font-size: 16px;
                    color: $textcolor;
                    padding: 13px 16px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: 300ms;
                    span{
                        font-size: 12px;
                        line-height: 13px;
                        color:$darkgreycolor;
                    }
                    &.active{
                        background: rgba(110, 122, 255, 0.1);
                        border-radius: 8px;
                        color: $purplecolor;
                    }
                }
        
                &__switch-button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 222px;
                    padding: 0 16px;
                    box-sizing: content-box;
                    p{
                        font-weight: 700;
                        font-size: 16px;
                        color: $textcolor;
                    }
                }
        
                &__checkbox {
                    display: none;
                }

                &__label {
                    cursor: pointer;
                    background-color: $whitecolor;
                    width: 42px;
                    height: 24px;
                    border-radius: 24px;
                    display: inline-block;
                    position: relative;
                    transition: .3s;
                    border: 2px solid $greycolor;
                    &:before{
                        content: '';
                        transition: .3s;
                        display: block;
                        position: absolute;
                        left: 4px;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: 16px;
                        height: 16px;
                        background-color: $darkgreycolor;
                        border-radius: 50%;
                    }
                }

                &__checkbox:checked + .nav-list{
                    &__label{
                        &:before{
                            transform: translate(100%, -50%);
                        }
                    }
                }
        }
        .scroll-slider {
        width: 100%;
                &__title {
                    margin: 40px 0 0 0;
                    &:first-child{
                        margin: 0;
                    }
                    h3{
                        position: relative;
                        font-weight: 900;
                        font-size: 26px;
                        line-height: 29px;
                        color: $textcolor;
                        padding: 0 0 0 32px;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            width: 20px;
                            height: 20px;
                            background-size: 20px 20px;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        &.templates{
                            &:before{
                                background: url(../img/knowledge-hub/Templates.svg);
                            }
                        }
                        &.guide{
                            &:before{
                                background: url(../img/knowledge-hub/guides.svg);
                            }
                        }
                    }
                    p{
                        font-size: 18px;
                        line-height: 29px;
                        color: $darkgreycolor;
                        margin: 9px 0 0 0;
                    }
                }
        
                &__swiper {
                    margin: 40px 0;
                    max-width: 604px;
                    width: 100%;
                }
        
                &__slide {
                    max-width: 286px;
                    height: 412px;
                    position: relative;
                    &.featured{
                        .scroll-slider{
                            &__tag{
                                display: block;
                            }
                        }
                    }
                }

                &__tag{
                    display: none;
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    font-weight: 800;
                    color: $whitecolor;
                    font-size: 10px;
                    line-height: 14px;
                    background: $darkgreycolor;
                    border-radius: 32px;
                    text-transform: uppercase;
                    padding: 6px 16px;
                    letter-spacing: 0.1em;
                }
        
                &__img {
                    width: 286px;
                    height: 220px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }

                &__content-wrap{
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid $greycolor;
                    &:last-child{
                        border-bottom: initial;
                    }
                }
        
                &__tag-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 16px -8px 9px;
                    span{
                            text-align: center;
                            max-width: 100%;
                            height: 100%;
                            line-height: 17px;
                            border-radius: 32px;
                            padding: 6px 16px;
                            text-transform: uppercase;
                            font-weight: 800;
                            letter-spacing: 0.1em;
                            font-size: 12px;
                            margin: 8px;
                            padding: 6px 16px;
                            border-radius: 32px;
                            &.green{
                                background: rgba(133, 222, 175, 0.15);
                                color: #85DEAF;
                            }
                            &.blue{
                                background: rgba(141, 188, 254, 0.15);
                                color: $purplecolor;
                            }
                            &.purple{
                                background: rgba(110, 122, 255, 0.1);
                                color: #8DBCFE;
                            }
                            &.orange{
                                background: rgba(242, 151, 61, 0.15);
                                color: #F2973D;
                            }
                        }
                }
        
                &__description {
                    h3{
                        font-weight: 900;
                        font-size: 22px;
                        line-height: 24px;
                        margin: 0 0 12px 0;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        a{
                            color: $textcolor;
                            transition: 300ms;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                    p{
                        font-size: 18px;
                        line-height: 29px;
                        color: $darkgreycolor;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }

            .load-more {
                all: inherit;
                flex: 0 1 286px;
                height: 412px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                background: #F2F5FA;
                cursor: pointer;
                margin: 38px 0 0 32px;
                transition: 300ms;
                h4{
                    font-weight: 800;
                    font-size: 22px;
                    line-height: 27px;
                    color: $textcolor;
                    margin: 24px 0 0 0;
                }
                p{
                    font-size: 16px;
                    line-height: 19px;
                    color: $darkgreycolor;
                    font-weight: 600;
                    margin: 12px 0 0 0;
                }
                &__img {
                    width: 58px;
                    height: 58px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        transition: 300ms;
                    }
                }
                &:after{
                    font-size: 0;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
                &.swiper-button-disabled{
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
            
        }
        .sort{
            display: none;
            padding: 0 24px 0 0;
            cursor: pointer;
            .sort-select {
                position: relative;
                background-color: $whitecolor;
                height: 40px;
                width: 100%;
                min-width: 240px;
                padding: 11px 16px;
                border-radius: 8px;
                border: 1px solid $greycolor;
                margin: 16px 0 20px 0;
                &:before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 14px;
                    right: 16px;
                    background: url(../img/all-cases/arrow-sort.svg);
                    background-repeat: no-repeat;
                    background-size: 10px 10px;
                    transition: 300ms;
                }
                &.turn-arrow {
                    &:before {
                        transform: rotateX(180deg);
                    }
                }
                    &__current {
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        color: $textcolor;
                    }
            
                    &__list {
                        position: absolute;
                        z-index: 3;
                        padding: 0 16px;
                        border-radius: 10px;
                        left: 0;
                        top: 39px;
                        width: 100%;
                        overflow: hidden;
                        background-color: $whitecolor;
                        max-height: 0;
                        transition: 300ms;
                    }
            
                    &__item {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        color: $textcolor;
                        margin: 5px;
                    }
                    &__item.active {
                        display: none;
                    }
            }
            @media(max-width: 767px){
                margin: 0 0 40px 0;
                padding: 0;
            }
            @media(max-width: 424px){
                width: 100%;
                margin: 0 0 14px 0;
                .sort-select{
                    margin: 20px 0 0 0;
                }
            }
        }
    }
    .related-content {
        background: $whitecolor;
        padding: 100px 0;
		&__container {
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
            box-sizing: content-box;
		}

		&__title {
            text-align: center;
            h2{
                margin: 0 0 24px 0;
            }
            p{
                font-weight: 600;
                font-size: 22px;
                line-height: 33px;
            }
		}

		&__content {
            margin: 48px -32px 68px;
            display: flex;
            flex-wrap: wrap;
		}

        .card {
            width: calc((100% - (32px*6))/3);
            margin: 32px;
            &__img {
                width: 100%;
                height: 280px;
                border-radius: 16px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 300ms;
                }
                @media(min-width: 1024px){
                    &:hover{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
            }

            &__content{
                span{
                    text-align: center;
                    max-width: 100%;
                    height: 100%;
                    line-height: 20px;
                    border-radius: 32px;
                    padding: 6px 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    font-size: 14px;
                    margin: 8px;
                    &.green{
                        background: rgba(133, 222, 175, 0.15);
                        color: #85DEAF;
                    }
                    &.blue{
                        background: rgba(141, 188, 254, 0.15);
                        color: $purplecolor;
                    }
                    &.purple{
                        background: rgba(110, 122, 255, 0.1);
                        color: #8DBCFE;
                    }
                    &.orange{
                        background: rgba(242, 151, 61, 0.15);
                        color: #F2973D;
                    }
                }
                    h3{
                        font-weight: 900;
                        font-size: 30px;
                        line-height: 120%;
                        color: $textcolor;
                        margin: 0 0 12px 0;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    p{
                        font-size: 20px;
                        line-height: 160%;
                        color: $darkgreycolor;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
            }
    
            &__element-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin: 30px -8px 12px -8px;
            }
        }

        &__button{
            margin: 0 auto;
            max-width: 296px;
            height: 62px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .see-apps {
        background: $greengradient;
        padding: 104px 0;
		&__container {
            position: relative;
            max-width: 1014px;
            padding: 16px;
            margin: 0 auto;
            box-sizing: content-box;
            border-radius: 16px;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 16px;
                background-color: rgba($color: $whitecolor, $alpha: 0.2);
            }
		}
        
		&__content {
            position: relative;
            z-index: 2;
            background-color: $whitecolor;
            border-radius: 16px;
            display: flex;
            padding: 52px;
            .form {
                flex: 1 0 50%;
                    &__inputs-wrapper {
                        margin: 24px 0;
                    }
        
                    &__inputs-group {
                        display: flex;
                        justify-content: space-between;
                        margin: 16px 0 0 0;
                        &:first-child{
                            margin: 0;
                        }
                    }
        
                    &__inputs {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 200px;
                        min-width: 100px;
                        &:nth-child(2){
                            margin: 0 0 0 10px;
                        }
                        &.email{
                            max-width: 100%;
                        }
                        &.text-area{
                            max-width: 100%;
                        }
                        span{
                            opacity: 0.5;
                        }
                        label{
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 120%;
                            color: $darkgreycolor;
                            margin: 0 0 8px 0;
                        }
                        input{
                            height: 40px;
                            border: 1px solid $greycolor;
                            box-sizing: border-box;
                            border-radius: 8px;
                            background-color: $bg-greycolor;
                        }
                        textarea{
                            background-color: $bg-greycolor;
                            border: 1px solid $greycolor;
                            resize: none;
                            outline: none;
                            overflow: auto;
                            border-radius: 8px;
                            height: 80px;
                        }
                    }
        
                    &__button {
                        margin: 20px 0 0 0;
                        width: 100%;
                        line-height: 48px;
                        font-weight: 800;
                        font-size: 16px;
                        border-radius: 32px;
                        color: $whitecolor;
                        background-color: $textcolor;
                    }

                    &__description{
                        display: none;
                        p{
                            text-align: center;
                            font-size: 12px;
                            line-height: 17px;
                            color: $darkgreycolor;
                            a{
                                color: $purplecolor;
                            }
                        }
                    }
                }
		}

		&__description {
            display: flex;
            flex: 0 1 50%;
            flex-direction: column;
            justify-content: space-between;
            h2{
                font-weight: 900;
                font-size: 52px;
                line-height: 63px;
                color: $textcolor;
                max-width: 367px;
                margin: 0 30px 0 0;
            }
            p{
                font-size: 12px;
                line-height: 17px;
                color: $darkgreycolor;
                max-width: 180px;
                a{
                    color: $purplecolor;
                }
            }
		}

        &__bg{
            position: absolute;
            top: 227px;
            left: -196px;
            width: 1440px;
            height: 578px;
        }
    }

    @media(max-width: 1199px){
    .filter{
        .scroll-slider{
            max-width: 604px;
            margin: 0 auto;
            &__title{
                max-width: 100%;
            }
            &__content-wrap{
                flex-direction: column;
                border-bottom: initial;
            }
            .load-more{
                margin: 0;
                flex: initial;
                max-width: 604px;
                height: 286px;
            }
        }
    }
    }
    @media(max-width: 1023px){
        .filter{
            margin: 0;
            &__container{
                flex-direction: column;
            }
            .nav-list{
                margin: 0 auto 52px;
                &__list{
                    display: none;
                }
                .sort{
                    display: block;
                }
            }
        }
        .related-content{
            .card{
                width: calc((100% - (32px *4))/ 2);
            }
        }
        .see-apps{
            &__description{
                h2{
                    font-size: 42px;
                    line-height: 46px;
                }
            }
            &__container{
                &:after{
                    display: none;
                }
            }
            &__bg{
                display: none;
            }
        }
    }
    @media(max-width: 767px){
        .filter{
            padding: 0 0 64px 0;
            .scroll-slider{
                .swiper{
                    height: 856px;
                    width: 100%;
                    margin: 32px auto 0;
                }
                &__title{
                    h3{
                        font-size: 24px;
                        line-height: 26px;
                    }
                }
                &__img{
                    width: 100%;
                    max-width: 100%;
                }
                &__slide{
                    max-width: 100%;
                    width: 100%;
                }
                .load-more{
                    height: 183px;
                    margin: 40px 0 0 0;
                    p{
                        margin: 6px 0 0 0;
                    }
                    h4{
                        margin: 20px 0 0 0;
                    }
                    &__img{
                        width: 49px;
                        height: 49px;
                    }
                }
            }
        }
        .related-content{
            padding: 64px 0 80px;
            .card{
                width: calc((100% - (32px *2)));
                h3{
                    font-size: 24px;
                    line-height: 29px;
                }
                p{
                    font-size: 18px;
                    line-height: 29px;
                }
                &__img{
                    height: 250px;
                }
                &__element-wrapper{
                    margin: 16px -8px 8px;
                }
            }
            &__title{
                h2{
                    font-size: 36px;
                    line-height: 42px;
                    margin: 0 0 12px 0;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &__content{
                margin: 8px -32px 20px;
            }
            &__button{
                max-width: 233px;
                height: 48px;
                font-size: 16px;
                line-height: 23px;
            }
        }
        .see-apps{
            padding: 80px 0;
            &__content{
                flex-direction: column;
                padding: 40px 20px;
            }
            &__description{
                p{
                    display: none;
                }
                h2{
                    max-width: 100%;
                    font-size: 32px;
                    line-height: 39px;
                }
            }
            .form{
                &__description{
                    display: block;
                }
                &__inputs-wrapper{
                    margin: 24px 0 16px 0;
                }
            }
        }
    }
    @media(max-width: 374px){
        .see-apps{
            .form{
                &__inputs-group{
                    flex-direction: column;
                    margin: 0;
                }
                &__inputs{
                    max-width: 100%;
                    margin: 10px 0 0 0;
                    &:nth-child(2)
                    {
                        margin: 10px 0 0 0;
                    }
                }
            }
            &__description{
                h2{
                    font-size: 30px;
                    line-height: 32px;
                }
            }
        }
    }
}