.open-roles-v {
    padding: 52px 0 120px 0;
    background: $whitecolor;
    .customer-service {
            &__container {
                max-width: 720px;
                margin: 0 auto;
                padding: 0 20px;
                box-sizing: content-box;
            }
    
            &__top-content {
            }
    
            &__return {
                display: block;
                margin: 0 0 64px 0;
            }
    
            &__title {
                p{
                    font-size: 22px;
                    line-height: 33px;
                    margin: 20px 0 64px 0;
                }
            }
    
            &__img {
                max-width: 720px;
                max-height: 480px;
                width: 100%;
                height: 100%;
                border-radius: 16px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .editor-v {
                margin: 64px 0 120px 0;
                ul{
                    margin: 24px 0 40px 0;
                    li{
                        position: relative;
                        font-size: 20px;
                        line-height: 32px;
                        color: $darkgreycolor;
                        margin: 7px 0;
                        padding: 0 0 0 24px;
                        &:before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 12px;
                            width: 8px;
                            height: 8px;
                            border-radius: 2px;
                            background: $purplecolor;
                        }
                        @media(max-width: 767px){
                            font-size: 18px;
                            line-height: 29px;
                        }
                    }
                }
            }
    }
    .form-job{
        max-width: 1240px;
        margin: 0 auto;
        background-color: $bg-greycolor;
        border-radius: 24px;
        padding: 0 20px;
        box-sizing: content-box;
        .form {
            max-width: 680px;
            margin: 0 auto;
            width: 100%;
            padding: 80px 0;
                &__title{
                    margin: 0 0 52px 0;
                    h3{
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 53px;
                        color: $textcolor;
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        font-size: 22px;
                        line-height: 33px;
                        font-weight: 600;
                        color: $darkgreycolor;
                        margin: 8px 0 0 0;
                        a{
                            color: $textcolor;
                            font-weight: 700;
                            transition: 300ms;
                            &:hover{
                                opacity: 0.5;
                            }
                        }
                    }
                }
    
                &__inputs-wrapper {
                    margin: 24px 0;
                    max-width: 416px;
                    margin: 0 auto;
                }
    
                &__inputs-group {
                    display: flex;
                    justify-content: space-between;
                    margin: 16px 0 0 0;
                    &:first-child{
                        margin: 0;
                    }
                }
    
                &__inputs {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 200px;
                    &:nth-child(2){
                        margin: 0 0 0 10px;
                    }
                    &.email{
                        max-width: 100%;
                    }
                    &.text-area{
                        max-width: 100%;
                    }
                    span{
                        opacity: 0.5;
                    }
                    label{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 120%;
                        color: $darkgreycolor;
                        margin: 0 0 8px 0;
                    }
                    input{
                        height: 40px;
                        border: 1px solid $greycolor;
                        box-sizing: border-box;
                        border-radius: 8px;
                        background-color: $whitecolor;
                        padding: 0 12px;
                        box-sizing: content-box;
                    }
                    textarea{
                        background-color: $whitecolor;
                        border: 1px solid $greycolor;
                        resize: none;
                        outline: none;
                        overflow: auto;
                        border-radius: 8px;
                        height: 80px;
                        padding: 12px;
                    }
                }
    
                &__button {
                    margin: 40px 0 0 0;
                    width: 100%;
                    line-height: 48px;
                    font-weight: 800;
                    font-size: 16px;
                    border-radius: 32px;
                    color: rgba($darkgreycolor, 0.5);
                    background-color: rgba(35, 47, 66, 0.1);
                    border: 1px solid rgba(36, 46, 66, 0.05);
                }
    
                &__text {
                    margin: 16px 0 0 0;
                    p{
                        font-size: 12px;
                        line-height: 15px;
                        color: $darkgreycolor;
                        text-align: center;
                        a{
                            color:$purplecolor;
                        }
                    }
                }
            }
    }
    @media(max-width: 1199px){
        .form-job{
            border-radius: initial;
            .form{
                padding: 64px 0;
            }
        }
    }
    @media(max-width: 567px){
        padding: 52px 0 0 0;
        .customer-service{
            .editor-v{
                padding: 0 20px;
                margin: 52px 0 64px 0;
                h3{
                    font-size: 32px;
                    line-height: 36px;
                }
            }
            &__return{
                margin: 0 0 32px 0;
            }
            &__title{
                padding: 0 20px;
                h1{
                    font-size: 40px;
                    line-height: 46px;
                }
                p{
                    font-size: 20px;
                    line-height: 28px;
                    margin: 16px 0 52px 0;
                }
            }
            &__container{
                padding: 0;
            }
            &__img{
                border-radius: initial;
            }
        }
    }
    @media(max-width: 474px){
        .form-job{
            .form{
                h3{
                    font-size: 36px;
                    line-height: 42px;
                    text-align: left;
                }
                p{
                    text-align: left;
                    font-size: 20px;
                    line-height: 28px;
                }
                &__inputs{
                    input{
                        padding: 0;
                    }
                }
            }
        }
    }
    @media(max-width: 374px){
        .form-job{
            .form{
                &__inputs-group{
                    flex-direction: column;
                }
                &__inputs{
                    max-width: 100%;
                    &:nth-child(2){
                        margin: 16px 0 0 0;
                    }
                }
            }
        }
    }
}
