.open-roles {
    padding: 100px 0 200px 0;
    .quickbooks {
            &__bg {
                max-width: 1440px;
                width: 100%;
                max-height: initial;
                height: 598px;
                margin: 0;
                top: -91px;
            }
    }
    @media(max-width: 767px){
        padding: 60px 0;
        .quickbooks{
            .content{
                margin: 24px 0 0 0;
                &__description{
                    h1{
                        font-size: 40px;
                        line-height: 46px;
                        text-align: left;
                        margin: 0 0 16px 0;
                    }
                    p{
                        font-size: 20px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
            }
            .bread-crumbs{
                ul{
                    justify-content: flex-start;
                }
            }
        }
    }
}
