.partner{
  .case-studies{
    padding: 0;
    .quickbooks{
      padding: 0;
      &:before{
        top: 300px;
        left: 268px;
      }
      &__bg-l{
        position: absolute;
        top: -51px;
        left: -23px;
        width: 432px;
        height: 562px;
      }
      .content{
        padding: 48px 0 0 0;
        &__button{
          margin: 70px 0 0 0;
          font-size: 18px;
        }
        &__description{
          h1{
            margin: 22px 0;
            sup{
              font-size: 32px;
              font-weight: 900;
            }
          }
          p{
            font-size: 28px;
          }
        }
        &__top-text{
          margin: 123px 0 346px 0;
          flex: 0 1 530px;
        }
        .studies{
          position: relative;
          flex: 0 1 710px;
          &__img{
            position: absolute;
            border-radius: 40px;
            padding: 0;
            top: 53px;
            left: 94px;
            width: 714px;
            height: 524px;          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
  .about-onplan{
    padding: 0;
    margin: -160px 0 -197px 0;
    .wrapper-sections{
      z-index: 2;
      max-width: initial;
      &:before{
        top: 101px;
        height: calc(100% - 297px);
      }
      .comments{
        &__left-side{
          flex: 0 1 40%;
          p{
            font-size: 40px;
            line-height: 48px;
            font-weight: 900;
          }
        }
        &__right-side{
          max-width: 761px;
          padding: 0;
          margin: 0;
            &:before{
              display: none;
            }
          p{
          }
        }
        &__content{
          padding: 64px 52px;
          border-radius: 23px;
        }
      }
      .for-who{
        margin: 100px auto 0;
        max-width: 1240px;
        &__content{
          position: relative;
          z-index: 2;
          margin: 0;
        }
        &__bg{
          position: absolute;
          width: 562px;
          height: 562px;
          bottom: -393px;
          left: 738px;
        }
        &__bg-2{
          position: absolute;
          width: 562px;
          height: 562px;
          left: -17px;
          bottom: -306px;
        }
        &__column{
          flex: 0 1 50%;
          margin: 0;
          &:first-child{
            flex: 0 1 50%;
            margin: 0 80px 0 0;
          }
          p{
            opacity: 0.9;
          }
          h3{
            margin: 0 0 23px 0;
          }
        }
      }
      .benefits{
        position: relative;
        z-index: 2;
        &__content{
          padding: 100px 0 120px 0;
        }
        &__top-content{
          align-items: flex-start;
          margin: 0 0 32px 0;          &.h2{
              h2{
                color: $whitecolor;
                font-size: 40px;
                line-height: 48px;
              }
          }
        }
        &__img{
          width: auto;
          max-width: 141px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__card{
          &.brown{
            background: linear-gradient(132.62deg, #F2CA91 0%, #E69C67 100%);
            a{
              &:before{
                display: none;
              }
              font-size: 16px;
              color: $whitecolor;
              font-weight: 800;
              padding: 0;
            }
            p{
              max-width: 163px;
              font-weight: 800;
              font-size: 28px;
              color: $whitecolor;
              margin: 0 0 24px 0;
            }
          }
          a{
            position: relative;
            margin: 9px 0 0 0;
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
            color:$darkgreycolor;
            padding: 0 19px 0 0;
            &:before{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 12px;
              height: 12px;
              background-size: 12px 12px;
              background-position: center;
              background-image: url("../img/partners/2.svg");
            }
          }
        }
      }
    }
  }
  .solution{
    &__content{
      padding: 127px 0 123px 0;
    }
    &__description{
      ul{
        margin: 12px 0 0 0;
        li{
          position: relative;
          display: inline-block;
          color: $whitecolor;
          font-size: 20px;
          line-height: 32px;
          padding: 0 25px 0 20px;
          transition: 300ms;
          opacity: 0.7;
          margin: 0 0 6px 0;
          &:last-child{
            margin: 0;
          }
          &:before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background: $whitecolor;
            transition: 300ms;
            opacity: 0.7;
          }
          &:after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 15px;
            height: 10px;
            background: url("../img/arrow.svg");
            background-size: 15px 10px;
            background-position: center;
            background-repeat: no-repeat;
          }
          &:hover{
            opacity: 1;
            &:before{
              opacity: 1;
            }
          }
          a{
            color: $whitecolor;
          }
        }
      }
      h2{
        margin: 48px 0 29px 0;
      }
    }
    &__button{
      font-size: 18px;
    }
    &__left-side{
      width: 428px;
    }
  }
  @media(max-width: 1439px){
    .case-studies{
      .quickbooks{
        &:before{
          top: 300px;
          left: 268px;
        }
        .content{
          .studies{
            &__img{
              width: 714px;
              max-height: initial;
            }
          }
        }
      }
    }
  }
  @media(max-width: 1023px){
    .case-studies{
      .quickbooks{
        padding: 0 0 156px 0;
        &:after{
          height: 406px;
        }
        .content{
          align-items: flex-start;
          &__top-text{
            margin: 60px 0;
            flex: 0 1 100%;
            max-width: 100%;
          }
          .studies{
            flex: 1 1 310px;
            width: 100%;
            &__img{
              top: 0;
              left: 0;
              max-width: initial;
              height: 310px;
              width: 520px;
            }
          }
        }
        &__bg-l{
          display: none;
        }
      }
      .about-onplan{
        margin: 0;
        .wrapper-sections{
          &:before{
            top: 0;
            height: calc(100% - 200px);
          }
        }
      }
    }
    .about-onplan{
      .wrapper-sections{
        .comments{
          top: -114px;
        }
        .for-who{
          margin: 0;
          &__content{
            margin: -62px 0 0 0;
          }
        }
      }
    }
    .solution{
      margin: -200px 0 0 0;
      &__left-side{
        width: 100%;
        margin: 0 0 64px 0;
      }
      &__content{
        padding: 123px 0 62px 0;
      }
      &__description{
        p{
          font-size: 20px;
          line-height: 28px;
        }
        h2{
          margin: 48px 0 18px 0;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .about-onplan{
      .wrapper-sections{
        .comments{
          &__content{
            padding: 40px 32px;
            flex-direction: column;
          }
          &__left-side{
            display: initial;
            margin: 0 0 20px 0;
            p{
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
        .for-who{
          &__column{
            p{
              margin: 13px 0 0 0;
            }
            &:first-child{
              margin: 0 0 52px 0;
            }
          }
        }
        .benefits{
          &__content{
            padding: 59px 0 120px 0;
          }
          &__top-content{
            text-align: left;
            &.h2{
              h2{
                font-size: 32px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
    .case-studies{
      .quickbooks{
        .content{
          padding: 0;
          &__description{
            p{
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  @media(max-width: 474px){
    .case-studies{
      .quickbooks{
        .content{
          &__top-text{
            margin: 51px 0 68px 0;
          }
        }
      }
    }
  }
  @media(max-width: 424px){
    .case-studies{
      .quickbooks{
        .content{
          &__top-text{
            max-width: 80%;
          }
          &__description{
            h1{
              margin: 13px 0 18px 0;
            }
          }
          &__button{
            max-width: 225px;
            font-size: 16px;
            margin: 42px 0 0 0;
          }
        }
      }
    }
    .benefits{
      &__card{
        padding: 34px 15px 15px 15px;
        min-height: 210px;
      }
      .container{
        padding: 0;
      }
    }
    .solution{
      &__description{
        margin: 0 0 59px 0;
        h2{
          text-align: left;
        }
        p{
          text-align: left;
        }
      }
      &__left-side{
        margin: 0;
      }
      &__button{
        max-width: 262px;
        margin: 0;
      }
    }
  }
}