.pricing{
    padding: 0 0 100px 0;
    @media(max-width: 735px){
        padding: 0 0 58px 0;
    }
    .pricing {
		&__relative-title {
            position: fixed;
            background: $bg-greycolor;
            border: 1px solid $greycolor;
            z-index: 5;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            max-width: 1240px;
            width: 100%;
            transition: 500ms ease-in-out;
            @media(max-width: 1024px){
                display: flex;
                &.active{
                    top: 70px;
                }
            }
            @media(max-width: 1023px){
                display: block;
                .pricing{
                    &__relative-link{
                        display: none;
                        &:first-child{
                            display: block;
                            border-right: initial;
                            font-size: 12px;
                            line-height: 15px;
                            color: $darkgreycolor;
                            padding: 12px 20px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            &.active{
                top: 81px;
            }
		}
        
		&__relative-link {
            font-size: 18px;
            flex: 0 1 25%;
            line-height: 22px;
            color: $textcolor;
            font-weight: 800;
            padding: 13px 40px;
            border-right: 1px solid $greycolor;
            &.mob{
                display: none;
                padding: 0;
                border-top: 1px solid $greycolor;
                @media(max-width: 1023px){
                    display: block;
                }
            }
            &:last-child{
                border-right: none;
            }
            &.blue {
                color: $bluecolor;
            }
            &.purple {
                color: $purplecolor;
            }
            &.green {
                color: $greencolor;
            }
		}
        &__mob-title{
            display: flex;
        }
        &__mob-link{
            flex: 0 1 33.3%;
            margin: 0 0 0 20px;
            font-size: 12px;
            &.blue {
                color: $bluecolor;
            }
            &.purple {
                color: $purplecolor;
            }
            &.green {
                color: $greencolor;
            }
        }
    }

    .platform-plans {
        position: relative;
        margin: 100px 0 120px 0;
		&__content {
            position: relative;
            z-index: 2;
            max-width: 1240px;
            box-sizing: content-box;
            margin: 0 auto;
		}

		&__title {
            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
            box-sizing: content-box;
            h1{
                text-align: center;
            }
		}

		&__bg {
            position: absolute;
            top: -58px;
            left: 53%;
            transform: translateX(-50%);
            width: 1813px;
            height: 568px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

    .table-price {
            margin: 112px 0 0 0;
            border: 1px solid $greycolor;
            border-radius: 24px;
            box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
            .description-title{
                padding: 13px 40px;
                color: $textcolor;
                font-size: 18px;
                font-weight: 800;
                line-height: 22px;
            }
            .bottom-table {
                @media(min-width: 1024px){
                    &:last-child{
                        .bottom-table{
                            &__bottom-block{
                                &:last-child{
                                    .bottom-table{
                                        &__bottom-title{
                                            border-radius: 0 0 0 24px;
                                        }
                                        &__link{
                                            &:last-child{
                                                border-radius: 0 0 24px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__bottom-block {
                    display: flex;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    color: $darkgreycolor;
                    border-bottom: 1px solid $greycolor;
                    &:last-child{
                        border-bottom: none;
                    }
                }
        
                &__bottom-title {
                    position: relative;
                    flex: 0 1 25%;
                    padding: 14px 40px;
                    background: $whitecolor;
                    color: $textcolor;
                }

                &__description-title-big{
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 29px;
                    color: $textcolor;
                    padding: 28px 40px;
                    background: $bg-greycolor;
                    border-top: 1px solid $greycolor;
                    border-bottom: 1px solid $greycolor;
                }

                &__info-svg{
                    display: none;
                    position: absolute;
                    z-index: 6;
                    @media(max-width: 1024px){
                            // position: relative;
                            // display: inline;
                            // top: initial;
                            // right: initial;
                            // margin: 0 0 0 4px;
                            &.active-info{
                                display: none;
                            }
                    }
                    svg{
                        width: 16px;
                        height: 16px;
                        fill: $darkgreycolor;
                        opacity: 0.5;
                        transition: 300ms;
                    }
                    top: 16px;
                    right: 16px;
                    width: 16px;
                    height: 16px;
                    p{
                        opacity: 0;
                        font-size: 12px;
                        line-height: 15px;
                        position: absolute;
                        width: 147px;
                        bottom: 23px;
                        right: -66px;
                        background: $textcolor;
                        color: $whitecolor;
                        padding: 8px;
                        border-radius: 6px;
                        transition: 300ms;
                        pointer-events: none;
                        &:before{
                            content: '';
                            position: absolute;
                            bottom: -4px;
                            left: 56px;
                            width: 0;
                            height: 0;
                            border: 0 solid transparent;
                            border-left-width: 18px;
                            border-right-width: 17px;
                            border-top: 9px solid $textcolor;
                        }
                    }
                    &.active-info{
                        display: inline;
                    }
                    &:hover{
                        cursor: pointer;
                        svg{
                            opacity: 1;
                            fill: $textcolor;
                        }
                        p{
                            opacity: 1;
                        }
                    }
                }
        
                &__list {
                    display: flex;
                    flex: 0 1 75%;
                }
        
                &__link {
                    position: relative;
                    flex: 0 1 33.333%;
                    border-left: 1px solid $greycolor;
                    background: $whitecolor;
                    padding: 14px 5px;
                    text-align: center;
                    color: $textcolor;
                    &:nth-child(2){
                        background: #FBFCFE;
                    }
                    span{
                        display: none;
                    }
                    &.purple{
                        &:after{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: url(../img/pricing/check-blue.svg);
                            background-size: 20px 20px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    &.green{
                        &:after{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: url(../img/pricing/check-green.svg);
                            background-size: 20px 20px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                    &.blue{
                        &:after{
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: url(../img/pricing/check-blue-light.svg);
                            background-size: 20px 20px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

            &__top-block {
                display: flex;
                width: 100%;
                min-height: 258px;
            }

            &__content-wrapper{
                display: flex;
                flex: 0 1 75%;
                width: 100%;
            }

            &__title{
                flex: 0 1 25%;
                border-radius: 24px 0 0 0;
                padding: 32px 40px;
                background: $whitecolor;
                border-right: 1px solid $greycolor;
                h5{
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 900;
                    margin: 0 0 12px 0;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &__col{
                flex: 1 1 33.333%;
            }

            .column{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 32px 40px;
                background: $whitecolor;
                border-right: 1px solid $greycolor;
                h5{
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 900;
                    margin: 0 0 12px 0;
                }
                &.essentials {
                    h5{
                        color: $bluecolor;
                    }
                    .table-price{
                        &__starting {
                            display: flex;
                            align-items: center;
                            p{
                                &:nth-child(2){
                                    display: flex;
                                    flex-direction: column;
                                }
                                &:last-child{
                                    padding: 5px 0 0 0;
                                }
                                span{
                                    text-align: center;
                                    &:nth-child(2){
                                        font-size: 32px;
                                        line-height: 38px;
                                        font-weight: 700;
                                        color: $textcolor;
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.growth {
                    text-align: center;
                    position: relative;
                    background: #FBFCFE;
                    .table-price{
                        &__content-description{
                            h5{
                                text-align: center;
                                color: $purplecolor;
                            }
                            p{
                                font-size: 24px;
                                line-height: 29px;
                            }
                        }
                    }
                }
                &.growth-plus {
                    border-right: none;
                    text-align: center;
                    border-radius: 0 24px 0 0;
                    h5{
                        color: $greencolor;
                    }
                    p{
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
            }

            &__content-description{
                max-width: 218px;
                margin: 0 auto;
            }
    
            &__button {
                max-width: 218px;
                height: 52px;
                &.button-table{
                    color: $textcolor;
                    background: $whitecolor;
                    border:  1px solid $textcolor;
                    transition: 300ms;
                    &:hover{
                        color: $whitecolor;
                        background: #606a80;
                    }
                }
                span{
                    &:last-child{
                        display: none;
                    }
                }
            }

            &__bottom-buttons{
                display: none;
                width: 100%;
                background: $whitecolor;
                .button{
                    margin: 24px 0;
                }
            }

            &__bottom-btn-col{
                width: 100%;
            }

            &__most-popular{
                position: absolute;
                border-radius: 16px 16px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 32px;
                background: $purplecolor;
                top: -32px;
                left: 0;
                span{
                    position: relative;
                    padding: 0 0 0 21px;
                    p{
                        text-align: center;
                        color: $whitecolor;
                        line-height: 16px;
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        background: url(../img/pricing/star.svg);
                        background-size: 15px 15px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
    @media(max-width: 1023px){
        .platform-plans{
            &__title{
                padding: 0 20px;
                box-sizing: content-box;
                span{
                    display: none;
                }
            }
            .table-price{
                margin: 52px 0 0 0;
                border-radius: initial;
                border-bottom: initial;
                .column{
                    padding: 0 0 24px 0;
                    h5{
                        font-size:16px;
                        line-height: 19px;
                    }
                    &.growth-plus{
                        border-radius: inherit;
                    }
                    &.growth, &.growth-plus{
                        .table-price{
                            &__content-description{
                                p{
                                    text-align: left;
                                    padding: 0 20px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                }
                .bottom-table{
                    background: $whitecolor;
                    padding: 0 0 24px 0;
                    &:last-child{
                        padding: 0;
                        border-radius: initial;
                    }
                    &__bottom-block{
                        flex-direction: column;
                        &:last-child{
                            border-bottom: 1px solid $greycolor;
                        }
                        h5{
                            display: inline;
                            border-bottom: 1px solid $greycolor;
                            font-weight: 700;
                            font-size: 18px;
                            padding: 24px 20px 15px;
                        }
                    }
                    &__link{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 12px 20px;
                        &:first-child{
                            border-left: initial;
                        }
                        &.purple, &.green, &.blue{
                            &:after{
                                position: static;
                                top: initial;
                                left: initial;
                                transform: initial;
                                // margin: 4px 0 0 0;
                                width: 18px;
                                height: 18px;
                                background-size: 18px 18px;
                            }
                        }
                        span{
                            display: block;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0 0 4px 0;
                            color: $darkgreycolor;
                        }
                        p{
                            text-align: left;
                        }
                    }
                }
                .description-title{
                    color: $darkgreycolor;
                    text-transform: uppercase;

                }
                &__content-description{
                    max-width: 100%;
                    width: 100%;
                    margin: 0 0 24px 0;
                    h5{
                        text-align: center;
                        margin: 0;
                        padding: 12px 20px;
                        border-top: 1px solid $greycolor;
                        border-bottom: 1px solid $greycolor;
                    }
                }
                &__starting{
                    padding: 0 20px;
                }
                &__top-block{
                    flex-direction: column;
                }
                &__title{
                    border-radius: inherit;
                    border-right: inherit;
                    p{
                        margin: 0 0 24px 0;
                    }
                }
                &__button{
                    max-width: 83px;
                    height: 33px;
                    span{
                        &:first-child{
                            display: none;
                        }
                        &:last-child{
                            display: block;
                        }
                    }
                }
                &__most-popular{
                    span{
                        padding: 0;
                        width: 15px;
                        height: 15px;
                        p{
                            display: none;
                        }
                    }
                }
                &__starting{
                    p{
                        &:nth-child(2){
                            span{
                                &:first-child{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                &__bottom-buttons{
                    display: flex;
                    .button{
                        margin: 24px auto;
                    }
                }
            }
        }
    }
    @media(max-width: 767px){
        .platform-plans{
            .table-price{
                .column{
                    &.essentials{
                        .table-price{
                            &__starting{
                                display: block;
                                p{
                                    &:nth-child(1){
                                        color: $darkgreycolor;
                                        font-size: 18px;
                                        line-height: 21px;
                                        font-weight: 700;
                                        
                                    }
                                    &:nth-child(2){
                                        span{
                                            font-size: 18px;
                                            line-height: 21px;
                                            margin: 0;
                                        }
                                    }
                                    &:nth-child(1), &:nth-child(2){
                                        display: inline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 735px){
        .platform-plans{
            .table-price{
                .description-title{
                    font-size: 12px;
                    line-height: 15px;
                    padding: 12px 20px;
                }
                .bottom-table{
                    &__description-title-big{
                        font-size: 20px;
                        line-height: 24px;
                        padding: 20px;
                    }
                }
                &__content-description{
                    margin: 0 0 33px 0;
                }
                &__most-popular{
                    border-radius: 6px 6px 0px 0px;
                    height: 27px;
                    top: -27px;
                }
                &__title{
                    padding: 24px 20px;
                    h5{
                        font-size: 22px;
                        line-height: 27px;
                        margin: 0 0 6px 0;
                    }
                }
            }
            .h1{
                h1{
                    text-align: center;
                    line-height: 50px;
                }
            }
        }
    }
    @media(max-width: 424px){
        .platform-plans{
            margin: 52px 0 80px 0;
            .h1{
                h1{
                    font-size: 40px;
                    line-height: 115%;
                }
            }
            .table-price{
                .bottom-table{
                    &__link{
                        padding: 12px 15px;
                    }
                }
                &__starting{
                    padding: 0 15px;
                }
                &__content-description{
                    h5{
                        padding: 12px 15px;
                    }
                }
            }
        }
    }
}