.scenario-planning{
    padding: 0 0 100px 0;
    @media(max-width: 735px){
        padding: 0 0 58px 0;
    }
    .career{
        .quickbooks{
            margin: 100px 0 120px;
            padding: 0;
            .content{
                &__description {
                    h1{
                        margin: 32px 0 24px 0;
                    }
                    p{
                        margin: 0 auto;
                    }
                }
                &__button{
                    font-size: 24px;
                    @media(max-width: 1023px){
                        font-size: 18px;
                    }
                    max-width: 248px;
                    margin: 64px auto 0;
                }
            }
        }
        .obj-pict{
            &__description{
                h3{
                    margin: 0 0 17px 0;
                }
                p{
                    margin: 0 0 17px 0;
                }
            }
            &__img{
                max-height: 623px;
                max-width: 615px;
            }
        }
    }
    .frequently {
        background: $greengradient;
        padding: 100px 0 120px 0;
        margin: 120px 0;
		&__container {
            position: relative;
            max-width: 800px;
            padding: 0 20px;
            margin: 0 auto;
            box-sizing: content-box;
		}

		&__title {
            position: relative;
            z-index: 2;
            h3{
                font-weight: 900;
                font-size: 54px;
                line-height: 59px;
                text-align: center;
                color: $whitecolor;
                margin: 0 0 24px 0;
            }
            p{
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                text-align: center;
                color: $whitecolor;
                max-width: 520px;
                opacity: 0.9;
                margin: 0 auto;
            }
		}

		&__content {
            position: relative;
            z-index: 2;
            margin: 52px 0 0 0;
		}

		&__bg {
            position: absolute;
            top: -87px;
            left: -297px;
            width: 1480px;
            height: 612px;
		}

        .open-menu {
            position: relative;
            margin: 0 0 16px 0;
            &:last-child{
                margin: 0;
            }
            &.active {
                margin: 0;
                .plus{
                    transform: rotate(-90deg);
                    &__horizontal {
                        opacity: 0;
                    }
                }
                .open-menu{
                    &__submenu{
                        max-height: 100%;
                    }
                }
            }
                &__heading {
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 120%;
                    color: $textcolor;
                    padding: 22px 100px 24px 32px;
                    border-radius: 12px;
                    background: $whitecolor;
                    position: relative;
                        .plus {
                            position:absolute;
                            top: 15px;
                            right: 20px;
                            height: 16px;
                            width: 16px;
                            transition: all 0.3s ease-in-out;
                            padding: 12px;
                            box-sizing: content-box;
                            border-radius: 8px;
                            cursor: pointer;
                            &__horizontal {
                                position: absolute;
                                background-color: $textcolor;
                                width: 16px;
                                height: 3px;
                                left: 50%;
                                top: 50%;
                                border-radius: 16px;
                                transform: rotate(0deg) translate(-50%, -50%);
                                transition: all 0.3s ease-in-out;
                            }
                            &__vertical {
                                position: absolute;
                                border-radius: 16px;
                                background-color: $textcolor;
                                width: 3px;
                                height: 16px;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                transition: all 0.3s ease-in-out;
                            }
                            &:hover{
                                background: rgba($color: $purplecolor, $alpha: 0.1);
                                .plus{
                                    &__horizontal{
                                        background-color: $purplecolor;
                                    }
                                    &__vertical{
                                        background-color: $purplecolor;
                                    }
                                }
                            }
                        }
                }

                &__submenu{
                    transform: translateY(-16px);
                    max-height: 0;
                    overflow: hidden;
                }
        
                &__list {
                    position: relative;
                    border-radius: 0 0 12px 12px;
                    background: $whitecolor;
                    padding: 12px 100px 23px 32px;
                    overflow: hidden;
                    box-sizing: border-box;
                }
        
                &__link {
                    position: relative;
                    font-size: 18px;
                    line-height: 29px;
                    color: $darkgreycolor;
                    padding: 0 0 0 18px;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: $textcolor;
                    }
                    margin: 0 0 4px 0;
                    &:last-child{
                        margin: 0;
                    }
                }
        }
}

    @media(max-width: 1023px){
        .career{
            .quickbooks{
                margin: 60px 0 80px 0;
                .content{
                    &__description{
                        p{
                            text-align: left;
                            max-width: 100%;
                        }
                    }
                    &__button{
                        margin:40px 0 0 0;
                        max-width: 187px;
                        height: 52px;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
        .frequently{
            &__bg{
                display: none;
            }
        }
    }
    @media(max-width: 768px){
        .frequently{
            margin: 80px 0;
            padding: 80px 0;
            &__title{
                h3{
                    font-size: 36px;
                    line-height: 41px;
                    margin: 0 0 16px 0;
                }
                p{
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}