@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Black.woff") format("woff"), url("../fonts/Mulish-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff") format("woff"), url("../fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Mulish";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Mulish";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1240px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.root {
  padding: 84px 0 0 0;
}

.body-lock {
  position: relative;
  overflow-y: hidden;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 178px;
  width: 100%;
  height: 48px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 32px;
}

.button.button-light {
  color: #fff;
  border: 2px solid #fff;
}

.button.button-dark {
  color: #fff;
  background-color: #232F42;
}

.button.arrow-svg svg {
  position: absolute;
  top: 17px;
  right: 29px;
  width: 18px;
  height: 12px;
  fill: #fff;
}

.button.arrow-svg span {
  padding: 0 29px 0 0;
}

.mobile-menu-btns {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  z-index: 1001;
  bottom: -100%;
  left: 50%;
  width: 100%;
  border-top: 1px solid #EDF0F2;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-menu-btns__btn {
  width: 100%;
  max-width: 159px;
  height: 48px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 800;
  margin: 0 8px;
}

.mobile-menu-btns__btn.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #EDF0F2;
  color: #232F42;
}

.mobile-menu-btns__btn.book {
  background-color: #232F42;
  color: #fff;
}

.mobile-menu-btns.active {
  bottom: 0;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(52px);
          backdrop-filter: blur(52px);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  min-height: 84px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__logo img {
  width: 181px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__navigation {
  width: 100%;
  max-width: 666px;
  padding: 0 0 0 75px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation ul li {
  position: relative;
  padding: 0 16px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.header__navigation ul li a {
  color: #232F42;
  opacity: 0.9;
}

.header__navigation ul li a:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 6px;
  background-image: url(../img/arrow.svg);
  background-size: 10px 6px;
  background-position: center;
  background-repeat: no-repeat;
}

.header__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 255px;
  width: 100%;
}

.header__strong-text {
  font-size: 16px;
  font-weight: 800;
  color: #232F42;
}

.header__strong-text.button-header {
  color: #232F42;
  max-width: 169px;
  width: 100%;
  height: 48px;
  border-radius: 32px;
  border: 2px solid #232F42;
  background: #fff;
}

.header__burger {
  display: none;
  position: relative;
  height: 18px;
  width: 24px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #232F42;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__burger span:nth-child(1) {
  top: 0;
}

.header__burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
}

.header__burger span:nth-child(3) {
  top: 15px;
}

.header__burger.active span:nth-child(1) {
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:nth-child(3) {
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
}

.footer {
  background-color: #232F42;
  color: #fff;
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer__top-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 88px 0;
}

.footer__top-content:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #EDF0F2;
  opacity: 0.1;
}

.footer__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 735px;
  margin: 3px -10px 0 -10px;
}

.nav-column h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.nav-column a {
  color: #EDF0F2;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  opacity: 0.8;
}

.nav-column li {
  margin: 0 0 16px 0;
}

.nav-column li:last-child {
  margin: 0;
}

.nav-column ul {
  margin: 0 0 32px 0;
}

.nav-column__block {
  margin: 0 10px;
  width: calc((100% - 80px) / 4);
}

.logo-column {
  max-width: 380px;
  margin: 0 50px 0 0;
}

.logo-column__logo {
  display: block;
  width: 142px;
  height: 30px;
}

.logo-column__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo-column__description {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  margin: 21px 0 52px 0;
}

.bottom-content {
  padding: 40px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
}

.bottom-content__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 308px;
  width: 100%;
}

.bottom-content__middle-side {
  opacity: 0.5;
  padding: 0 242px 0 0;
}

.bottom-content__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 67px;
  width: 100%;
}

.bottom-content__social {
  fill: #fff;
}

.bottom-content__social.facebook {
  height: 18px;
  width: 9px;
}

.bottom-content__social.instagram {
  width: 18px;
  height: 18px;
}

.h1 h1 {
  font-size: 60px;
  font-weight: 900;
}

.h2 h2 {
  font-size: 54px;
  line-height: 56px;
  font-weight: 900;
}

.h5 h3 {
  font-size: 32px;
  font-weight: 900;
}

.h8 h3 {
  line-height: 25px;
  font-size: 20px;
  font-weight: 800;
}

.integration {
  position: relative;
  background-color: #F8F9FC;
  padding: 100px 0;
}

.integration .quickbooks {
  position: relative;
  padding: 0 0 120px 0;
}

.integration .quickbooks__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-height: 597px;
  margin: 40px 0 0 0;
}

.integration .quickbooks__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .quickbooks__bread-crumbs {
  position: relative;
  z-index: 2;
}

.integration .quickbooks__bread-crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.integration .quickbooks__bread-crumbs li {
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  position: relative;
}

.integration .quickbooks__bread-crumbs li:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 2px;
  height: 13px;
  background-color: #89B8FA;
}

.integration .quickbooks__bread-crumbs li a {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #89B8FA;
}

.integration .quickbooks__bread-crumbs li:last-child {
  margin: 0;
  padding: 0;
}

.integration .quickbooks__bread-crumbs li:last-child:before {
  display: none;
}

.integration .quickbooks .content {
  position: relative;
  z-index: 2;
  margin: 70px 0 0 0;
}

.integration .quickbooks .content__top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.integration .quickbooks .content__img {
  height: 80px;
  margin: 0 0 38px 0;
}

.integration .quickbooks .content__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .quickbooks .content__description h1 {
  margin: 0 0 29px 0;
}

.integration .quickbooks .content__description p {
  max-width: 700px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
}

.integration .quickbooks .content__bottom-text {
  padding: 52px 15px 64px;
  width: 100%;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px auto 0 auto;
  background-color: #fff;
  border-radius: 32px;
  -webkit-box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
          box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
  -webkit-backdrop-filter: blur(52px);
          backdrop-filter: blur(52px);
}

.integration .quickbooks .content__bottom-text h3 {
  padding: 37px 0 0 0;
  position: relative;
}

.integration .quickbooks .content__bottom-text h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 58px;
  height: 6px;
  border-radius: 8px;
  background-color: #707EFF;
}

.integration .quickbooks .content__bottom-text p {
  line-height: 32px;
  font-size: 20px;
  margin: 28px 0 0 0;
  max-width: 680px;
  text-align: center;
}

.integration .solution {
  background: -o-linear-gradient(327.88deg, #9BDEDC 0%, #7ACCAE 90.36%), -o-linear-gradient(298.45deg, #A8DAFE 17.57%, #66C4CC 100%);
  background: linear-gradient(122.12deg, #9BDEDC 0%, #7ACCAE 90.36%), linear-gradient(151.55deg, #A8DAFE 17.57%, #66C4CC 100%);
}

.integration .solution__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 75px 0;
}

.integration .solution__bg {
  position: absolute;
  top: 123px;
  left: 230px;
  width: 562px;
  height: 489px;
}

.integration .solution__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .solution__left-side {
  position: relative;
  z-index: 2;
  width: 500px;
  margin: 0 0 0 40px;
}

.integration .solution__description {
  margin: 0 0 54px 0;
}

.integration .solution__description h2 {
  color: #fff;
  margin: 48px 0 16px 0;
}

.integration .solution__description p {
  color: #fff;
  font-size: 22px;
  line-height: 33px;
}

.integration .solution__button {
  height: 62px;
  max-width: 248px;
  font-size: 18px;
}

.integration .solution__right-side {
  position: relative;
  z-index: 2;
}

.integration .solution__img {
  width: 611px;
  height: 436px;
}

.integration .solution__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .benefits__content {
  padding: 120px 0;
}

.integration .benefits__top-content {
  margin: 0 0 64px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integration .benefits__top-content h2 {
  margin: 0 0 24px 0;
}

.integration .benefits__top-content p {
  max-width: 680px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.integration .benefits__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.integration .benefits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 50px 15px 15px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 80px) / 4);
  max-width: 295px;
  height: 100%;
  min-height: 238px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
          box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
  border-radius: 16px;
}

.integration .benefits__card p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  max-width: 188px;
  text-align: center;
}

.integration .benefits__img {
  width: 58px;
  height: 58px;
  margin: 0 0 24px 0;
}

.integration .benefits__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.integration .clients {
  padding: 0 0 80px 0;
}

.integration .clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

.integration .clients__left-side h2 {
  margin: 119px 20px 0 0;
}

.integration .clients__button {
  margin: 40px 0 0 0;
  max-width: 250px;
}

.integration .clients__button.button-bottom-clients {
  display: none;
}

.integration .clients__right-side {
  position: relative;
  width: 100%;
  max-width: 660px;
}

.integration .clients__right-side:before {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 12px;
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 476px;
  background: -o-linear-gradient(332.79deg, #84DBDB 16.4%, #6E7AFF 129.13%), -o-linear-gradient(324.4deg, #E3BAC8 0%, #B88FD9 181.6%);
  background: linear-gradient(117.21deg, #84DBDB 16.4%, #6E7AFF 129.13%), linear-gradient(125.6deg, #E3BAC8 0%, #B88FD9 181.6%);
  -webkit-backdrop-filter: blur(43.0769px);
          backdrop-filter: blur(43.0769px);
  border-radius: 24px;
}

.integration .clients .swiper {
  position: relative;
  -webkit-box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
          box-shadow: 0px 16px 40px rgba(35, 40, 51, 0.05);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(52px);
          backdrop-filter: blur(52px);
  width: 100%;
  max-width: 660px;
}

.integration .clients .swiper__slide {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.8);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  padding: 104px 52px 52px;
  width: 100%;
  max-width: 660px;
}

.integration .clients .swiper__slide p {
  line-height: 32px;
  font-size: 20px;
}

.integration .clients .swiper__slide:before {
  content: "";
  position: absolute;
  top: 52px;
  left: 52px;
  background-image: url(../img/Integration/commas.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
}

.integration .clients .swiper__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
}

.integration .clients .swiper__img {
  width: 56px;
  height: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

.integration .clients .swiper__info {
  margin: 0 0 0 16px;
}

.integration .clients .swiper__info p {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 20px;
}

.integration .clients .swiper__pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 39px 0 0 24px;
}

.integration .clients .swiper__pagination .swiper-pagination-bullet {
  background: #E6E9F5;
  opacity: 1;
  margin: 5px 20px 5px 0;
}

.integration .clients .swiper__pagination .swiper-pagination-bullet-active {
  background: #707EFF;
}

.integration .clients .swiper__prev {
  left: inherit;
  right: 104px;
}

.integration .clients .swiper__prev:after {
  font-size: 0;
}

.integration .clients .swiper__next {
  right: 52px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.integration .clients .swiper__next:after {
  font-size: 0;
}

.integration .clients .swiper .slider-arrow {
  position: absolute;
  top: inherit;
  bottom: 52px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgba(230, 233, 245, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.integration .clients .swiper .slider-arrow svg {
  width: 7px;
  height: 9px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  fill: #707EFF;
}

.integration .clients .swiper .slider-arrow:hover {
  background-color: #707EFF;
}

.integration .clients .swiper .slider-arrow:hover svg {
  fill: #fff;
}

.integration .best {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.integration .best__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 152px 0;
}

.integration .best__content h2 {
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.integration .best__content p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

.integration .best__box-2 {
  position: absolute;
  top: 36px;
  left: -55px;
  height: 538px;
  width: 492px;
}

.integration .best__box-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .best__box-1 {
  position: absolute;
  top: 80px;
  right: -107px;
  height: 479px;
  width: 542px;
}

.integration .best__box-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.integration .best__button {
  margin: 64px 0 0 0;
  max-width: 248px;
  height: 62px;
}

@media (max-width: 1439px) {
  .header__navigation {
    padding: 0 20px;
  }

  .header__navigation ul li {
    margin: 0 10px 0 0;
  }

  .header__navigation ul li:last-child {
    margin: 0;
  }

  .header__connect a {
    white-space: nowrap;
    margin: 0 10px 0 0;
  }

  .integration .quickbooks__bg {
    margin: 0;
  }

  .integration .solution__left-side {
    margin: 0;
    min-width: 500px;
  }

  .integration .solution__img {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .root {
    padding: 70px 0 0 0;
  }

  .mobile-menu-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header:after {
    content: "";
    height: 100%;
    background: #fff;
    position: absolute;
    inset: 0;
    z-index: 999;
  }

  .header__logo {
    position: relative;
    z-index: 1000;
  }

  .header__content {
    min-height: 70px;
    padding: 0 20px;
  }

  .header__burger {
    display: block;
  }

  .header__connect {
    position: relative;
    z-index: 1000;
    max-width: 102px;
  }

  .header__connect.desktop .header__strong-text.button-header {
    display: none;
  }

  .header__strong-text {
    color: #606A80;
  }

  .header__navigation {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 998;
    max-width: 100%;
    padding: 32px 20px 0 20px;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: #fff;
    height: 100%;
    min-height: calc(100vh - 70px);
    max-height: 100%;
    overflow: auto;
    border-top: 1px solid #EDF0F2;
  }

  .header__navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 150px 0;
  }

  .header__navigation ul li {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 32px 0;
  }

  .header__navigation ul li:last-child {
    margin: 0;
  }

  .header__navigation ul li a {
    position: relative;
    padding: 0 24px 0 0;
  }

  .header__navigation ul li a:before {
    top: 14px;
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
  }

  .header__navigation.active {
    top: 70px;
  }

  .footer__container {
    padding: 0 20px;
  }

  .footer .bottom-content__middle-side {
    padding: 0;
  }

  .footer .nav-column__block {
    width: calc((100% - 40px) / 2);
  }

  .integration .solution__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }

  .integration .solution__bg {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .integration .solution__left-side {
    width: 100%;
    max-width: 500px;
    min-width: inherit;
  }

  .integration .benefits__card {
    width: calc((100% - 40px) / 2);
  }

  .integration .clients__content {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .integration .clients__left-side h2 {
    margin: 0 0 40px 0;
  }

  .integration .clients__right-side:before {
    display: none;
  }

  .integration .clients__button.button-top-clients {
    display: none;
  }

  .integration .clients__button.button-bottom-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .integration .clients .swiper-pagination {
    margin: 39px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .integration .best__content {
    padding: 219px 0 153px 0;
  }

  .integration .best__content h2 {
    margin: 0 0 10px 0;
  }

  .integration .best__content p {
    text-align: center;
  }

  .integration .best__button {
    margin: 45px 0 0 0;
  }

  .integration .best__box-1 {
    width: 238px;
    height: 249px;
    top: 456px;
    right: -52px;
  }

  .integration .best__box-2 {
    top: -29px;
    left: -25px;
    width: 217px;
    height: 262px;
  }

  .integration .best__button {
    max-width: 224px;
  }
}

@media (max-width: 767px) {
  .footer__top-content {
    padding: 80px 0 0 0;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .logo-column {
    margin: 0 0 64px 0;
  }

  .footer .bottom-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }

  .footer .bottom-content__left-side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 15px;
  }

  .footer .bottom-content__middle-side {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 15px;
  }

  .footer .bottom-content__right-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 15px;
  }

  .footer .nav-column {
    margin: 0 0 32px 0;
  }
}

@media (max-width: 735px) {
  .footer .bottom-content {
    padding: 24px 0 40px 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .bottom-content__left-side {
    margin: 24px 0 12px 0;
  }

  .footer .bottom-content__middle-side {
    margin: 0;
  }

  .footer .bottom-content__right-side {
    margin: 0;
  }

  .h1 h1 {
    font-size: 50px;
  }

  .h2 h2 {
    font-size: 40px;
  }

  .integration {
    padding: 50px 0;
  }

  .integration .quickbooks {
    padding: 0 0 60px 0;
  }

  .integration .quickbooks__bg {
    display: none;
  }

  .integration .quickbooks .content {
    margin: 50px 0 0 0;
  }

  .integration .quickbooks .content__bottom-text {
    margin: 40px auto 0 auto;
  }

  .integration .solution__content {
    padding: 50px 0;
  }

  .integration .benefits__content {
    padding: 50px 0;
  }
}

@media (max-width: 567px) {
  .integration .benefits__card {
    width: calc(100% - 20px);
  }

  .integration .clients .swiper .slider-arrow {
    display: none;
  }
}

@media (max-width: 424px) {
  .header__logo img {
    width: 140px;
    height: 26px;
  }

  .integration .solution__img {
    display: none;
  }

  .integration .solution__description h2 {
    margin: 0 0 16px 0;
  }

  .integration .solution__button {
    margin: 0 auto;
  }

  .integration .clients .swiper__slide {
    padding: 80px 15px 15px;
  }

  .integration .clients .swiper__slide:before {
    top: 35px;
    left: 15px;
  }

  .integration .best__content h2 {
    font-size: 46px;
  }

  .integration .best__content p {
    font-size: 20px;
  }
}